.empty {
  text-align: center;
  margin-top: 15%;
}
.panel .panel-heading {
  width: 100%;
}
.panel .panel-body {
  padding: 15px 0;
}
div.item {
  display: block;
  position: relative;
  min-height: 60px;
  padding-right: 10px;
  overflow: hidden;
  line-height: 60px;
  border-top: 1px solid #ddd;
}
div.item:hover:not(.total):not(.history) {
  background-color: rgba(255, 255, 255, 0.05);
}
div.item:hover:not(.total):not(.history) .info {
  line-height: 20px;
  padding: 10px 0px 10px 10px;
}
div.item:hover:not(.total):not(.history) .info .info-hovered {
  opacity: 1;
}
div.item:hover:not(.total):not(.history) .info .info-hovered a {
  cursor: pointer;
  padding-right: 10px;
  font-weight: 500;
  text-decoration: underline;
  background-color: transparent;
}
div.item:hover:not(.total):not(.history) .image {
  opacity: 1;
}
div.item.user-info {
  padding-top: 15px;
  height: auto;
  line-height: 20px;
}
@media (min-width: 768px) {
  div.item.user-info {
    line-height: 40px;
  }
  div.item.user-info div:first-child {
    line-height: 20px;
  }
  div.item.user-info div:last-child {
    text-align: right;
  }
}
div.item .counter {
  padding-right: 10px;
}
div.item .counter .fa.fa-times {
  padding-right: 2px;
}
div.item .info {
  text-transform: none;
  font-weight: 600;
  padding-right: 0;
}
div.item .image {
  width: 60px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  float: left !important;
}
div.item .image img {
  border-radius: 0;
}
