.empty {
  text-align: center;
  margin-top: 15%;
}

.panel {
  .panel-heading {
    width: 100%;
  }

  .panel-body {
    padding: 15px 0;
  }
}

div.item {
  display: block;
  position: relative;
  //height: 60px !important;
  min-height: 60px;
  padding-right: 10px;
  overflow: hidden;
  line-height: 60px;
  border-top: 1px solid #ddd;

  &:hover:not(.total):not(.history) {
    background-color: rgba(255, 255, 255, 0.05);
    .info {
      line-height: 20px;
      padding: 10px 0px 10px 10px;
      .info-hovered {
        opacity: 1;
        a {
          cursor: pointer;
          padding-right: 10px;
          font-weight: 500;
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
    .image {
      opacity: 1;
    }
  }

  &.user-info {
    padding-top: 15px;
    height: auto;
    line-height: 20px;


    @media (min-width: 768px) {
      line-height: 40px;
      div:first-child {
        line-height: 20px;
      }
      div:last-child {
        text-align: right;
      }
    }
  }

  .counter {
    padding-right: 10px;
    .fa.fa-times {
      padding-right: 2px;
    }
  }

  .info {
    text-transform: none;
    font-weight: 600;
    padding-right: 0;
  }

  .image {
    img {
      border-radius: 0;
    }
    width: 60px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    float: left !important;
  }
}