//@gray-darkest: darken(@gray-darker, 10%);
@gray-darkest: #452311;
//@gray-darkest-lighten: #483018;
@gray-darker: #5E412F;
@gray-dark: #C04800;
@gray: #999273;
@gray-light: #E8DDBA;
@gray-lighter: #F0E5C9;
@gray-lightest: #f5f5f5;
@text-gray-dark: #8e8c84;
@text-gray: #98978b;
@gray-border: #dfd7ca;
@gray-muted: darken(@gray, 15%);
@gray-light-darken: #DACDA3;

@brand-primary: #D5E9FA;
@brand-success: #4cae4c;
@brand-info: #89A2BD;
@brand-warning: darken(#EC925A, 10%);
@brand-danger: #DF1001;
@brand-danger-opacity: rgba(223, 16, 1, 0.25);
@text-color: rgb(69, 35, 17);
@text-muted: rgba(69, 35, 17, 0.8);
@text-mutest: rgba(69, 35, 17, 0.45);