/* custom styles */
@import 'parameters';

// Import fonts
@web-font-path1: "https://fonts.googleapis.com/css?family=Exo:400, 500,700";

.web-font(@path) {
  @import url("@{path}");
}

.web-font(@web-font-path1);

html {
  position: relative;
  min-height: 100%;
}

hr {
  border-top-color: lighten(@gray-light, 5%);
}

.upper {
  text-transform: uppercase;
}

@border-color: rgba(69, 35, 17, 0.1);

.stars {
  min-width: 75px;
  display: inline-block;
  text-align: center;
  .fa-circle {
    transform: scale(0.6, 0.6);
  }

  .star {
    color: @text-mutest;
    &.is-full {
      color: @text-color;
      cursor: pointer;
    }
  }
}

.modalForm.review {
  .modal-dialog {
    max-width: 600px;

    .modal-body {
      padding: 0 20px;

      .headers {
        font-size: 16px;
        text-align: left;
        padding-bottom: 20px;
      }

      .input-group {
        .input-group-addon {
          background-color: transparent;
          border-color: @border-color;
        }
        input[type='text'] {
          box-shadow: none;
          border: 1px solid @border-color;
          border-left: none;
          border-radius: 0 4px 4px 0;
        }
      }

      textarea {
        min-height: 200px;
        border-color: @border-color;
        &:focus {
          outline: none;
        }
      }

      button.btn-default {
        margin: 10px 0 25px;
        min-width: 180px;
      }
    }
  }
}

.product-details {

  hr {
    border-top-color: @text-mutest;
  }

  .rating {

    .stars {
      margin-right: 7px;
      display: inline-block;
    }
    .votes {
      padding-right: 15px;
      border-right: 1px solid @text-color;
    }
    .types {
      padding-left: 15px;
    }
    .votes, .types {
      font-size: 14px;
    }
    .add-review {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .column-left {
    display: inline-block;
    width: 62.2641509434%;
    padding-right: 60px;

    .media {
      padding-bottom: 30px;
      img {
        margin: auto;
        width: 400px;
      }
    }

    .info {
      .rating {
        div {
          display: inline-block;
          strong {
            margin-left: 7px;
          }
        }
      }

      .description-header, .review-header {
        border-bottom: 1px solid @border-color;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        padding: 12px 0;
      }
      .description-text {
        margin-top: 10px;
      }

      .reviews {
        margin-top: 40px;
        .review-subheader {
          font-weight: bold;
          font-size: 14px;
          padding: 15px 0;
        }
        .no-reviews {
          padding: 23px 0;
          border: solid @border-color;
          border-width: 1px 0;
        }
        .review {
          padding: 23px 0;
          border-top: 1px solid @border-color;
        }
      }

    }
  }

  .column-right {
    display: inline-block;
    vertical-align: top;
    width: 37.735%;

    .list-group {
      margin-bottom: 0;
      position: relative;
      z-index: 10;
    }

    .fa-refresh {
      line-height: 45px;
    }

    .buy-panel {
      background-color: @gray-light;
      padding: 0 10px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
      strong {
        float: left;
        line-height: 64px;
      }
      .btn {
        min-width: 204px;
        margin: 14px 0;
        padding: 0 10px;
        span {
          line-height: 64px - 28px;
        }
      }
    }

    .recommendations > div {
      .upper {
        font-weight: bolder;
        font-size: 16px;
        padding: 10px 0;
      }
      margin-top: 35px;
    }

    .list-sm-group-item .info-holder {
      .text {
        width: 70% !important;
      }
      .bottom-product-info {
        width: 30% !important;
      }
    }

  }

  @media only screen and (min-width: 0px) and (max-width: 836px) {
    .column-right, .column-left {
      width: 100%;
      display: block;
      padding: 5px;
    }
  }
  /* Small Devices, Tablets */
  @media only screen and (min-width: 837px) and (max-width: 1051px) {
    .column-left {
      width: 55%;
    }

    .column-right {
      width: 45%;

      .list-sm-group-item .info-holder {
        .text {
          width: 65%;
        }
        .bottom-product-info {
          width: 35%;
        }
      }
    }
  }

  .headline {
    &:first-child {
      margin-top: 30px;
    }
    line-height: 50px;
    &:not(:last-child) {
      border-bottom: 1px solid @border-color;
    }
    a {
      color: @text-color;
      .title {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  .navigation {
    border: solid @border-color;
    border-width: 1px 0;
    margin-top: 50px;
    .next, .prev {
      width: 50%;
      display: inline-block;
      a {
        color: @text-color;
        font-size: 16px;
        span {
          width: 90%;
          display: inline-block;
          padding: 10px;
          vertical-align: middle;
        }
        .fa {
          float: right;
        }
      }
    }

    .prev {
      border-right: 1px solid @border-color;
      a {
        span {
          text-align: right;
          padding-right: 0;
        }
        .fa {
          float: left;
        }
      }
    }
  }

}

.contacts {
  h3.text-center {
    font-weight: bold;
    text-transform: uppercase;
  }

  .contact-form {
    width: 45%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;

    .form-group {
      input[type='submit'] {
        float: right;
        margin-top: 10px;
        margin-right: 0;
      }

      textarea {
        max-width: 105%;
        min-height: 142px;
      }
    }
  }

  .location {
    width: 55%;
    display: inline-block;
    padding-right: 0;
    p {
      font-weight: bold;
    }

    .map {
      width: 100%;
      height: 350px;
    }
  }

  @media (max-width: 542px) {
    .contact-form, .location {
      width: 100%;
      padding: 0 0 40px 0;
      display: block
    }

  }

}

body {
  font-family: "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @text-color;
  font-size: 15px;
  background-color: @gray;
  margin-bottom: 380px;
  .title {
    font-weight: bold;
    font-size: 18px;
  }
}

.gimme-more {
  position: relative;
  z-index: 5;
  width: 100%;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: @gray-light-darken;
  color: @text-mutest;
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
  opacity: 0.95;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  a, a:hover, a:focus, a:active {
    color: @text-mutest;
    text-decoration: none;
  }
}

.index.content {
  h4 {
    text-transform: uppercase;
    line-height: inherit;
    font-weight: bold;
  }

  .small-info {
    position: relative;
    width: 50%;
    margin-bottom: 35px;
    padding-right: 10px;
    @media (max-width: 991px) {
      & {
        width: 100%;
        padding-right: 0;
      }
    }

    .about {
      color: @gray-light;
      p {
        font-weight: bold;
      }

      .about-headers {
        display: table;
        height: 140px;
        width: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        .about-header {
          width: 100%/3;
          display: table-cell;
          position: relative;
          z-index: 5;
          height: 100%;
          vertical-align: top;
          background: url('../about_bg.png') 0 29% @gray-darkest;
          background-clip: padding-box;
          border-radius: 0;
          opacity: 0.925;
          text-align: center;
          padding: 15px 10px 0;

          i.fa {
            margin: 10px 0;
          }

          p {
            font-size: 16px;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

          & + .about-header {
            margin-top: 0;
            border-left: 1px solid @gray-muted;
          }

          &:nth-last-child(2) {
            background-position: -100% 29%;
            .panel-collapse {
              left: -100%;
            }
          }

          &:last-child {
            background-position: 100% 29%;
            .panel-collapse {
              left: -200%;
            }
          }

          &::after {
            content: '';
          }

          &.active {
            opacity: 1;
            &::after {
              position: absolute;
              display: block;
              bottom: -5%;
              left: 50%;
              z-index: 5;
              width: 14px;
              height: 14px;
              margin-left: -7px;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              background: @gray-darkest;
              box-shadow: inset -1px 1px 0 @gray-muted;
            }
          }
        }

      }

      .about-sections {
        background-color: @gray-darkest;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        position: absolute;
        margin-right: 10px;
        z-index: 3;
        border-top: 1px solid @gray-muted;

        .about-desc {
          padding: 15px;
          display: none;
          visibility: hidden;

          &.active {
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }

  .products {
    width: 50%;
    float: right;
    padding-left: 10px;
    @media (max-width: 991px) {
      & {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  .list-group {
    margin-bottom: 0;
    position: relative;
    z-index: 10;
  }

  .headlines {
    width: 50%;
    position: relative;
    z-index: 1;
    padding-right: 10px;
    @media (max-width: 991px) {
      & {
        width: 100%;
        padding-right: 0;
      }
    }
  }

  .carousel-wrapper {
    width: 75%;
    padding-right: 10px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;

    //&:not(.vertical) {
    //  margin-right: 1%;
    //}

    @media only screen and (max-width: 767px) {
      h4 {
        display: none;
        visibility: hidden;
      }
    }

    &.vertical {
      width: 25%;
      padding-left: 10px;
      padding-right: 0;
    }

    .carousel {
      width: 100%;
      .item {
        width: auto;
        //height: 100% !important;
      }

      .carousel-control {
        visibility: hidden;
        opacity: 0;
      }
      &:hover {
        .carousel-control {
          visibility: visible;
          opacity: .5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.index-products {
  a {
    .grid-group-item-wrapper {
      width: 16.666666%;
    }

    @media (max-width: 1057px) {
      .grid-group-item-wrapper {
        width: 20%;
      }

      &:last-child {
        .grid-group-item-wrapper {
          display: none;
          visibility: hidden;
        }
      }
    }

    @media (max-width: 897px) {
      .grid-group-item-wrapper {
        width: 25%;
      }

      &:nth-last-child(2) {
        .grid-group-item-wrapper {
          display: none;
          visibility: hidden;
        }
      }
    }

    @media (max-width: 767px) {
      .grid-group-item-wrapper {
        width: 33.333333%;
      }

      &:nth-last-child(3) {
        .grid-group-item-wrapper {
          display: none;
          visibility: hidden;
        }
      }

    }

    @media (max-width: 542px) {
      .grid-group-item-wrapper {
        width: 50%;
      }

      &:nth-last-child(4) {
        .grid-group-item-wrapper {
          display: none;
          visibility: hidden;
        }
      }

    }

  }
}

//footer

.main-footer {
  background-color: #291C14;
  color: @gray-light;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  //margin-top: 100px;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: .875em;
  line-height: 1.875em;

  .dark-footer {
    background-color: #21150D;
    width: 100%;
    height: 80px;
    ul {
      font-size: .6875em;
      list-style: none;
      text-transform: uppercase;
      margin: 0;
      padding: 20px 20px 20px 0;
      li {
        display: inline-block;
        padding-right: 45px;
        a {
          color: rgba(232, 221, 186, 0.25);
        }
      }
    }
  }

  .sitemaps {
    height: 220px;

    .footer-sitemap {
      width: 25%;
      display: inline-block;
      padding-top: 20px;
      padding-right: 30px;
      vertical-align: top;

      .sitemap-link {
        text-transform: uppercase;
        color: @gray-light;
      }

      .sitemap-list {
        list-style: none;
        padding-top: 20px;
        padding-left: 0;
        line-height: 1.95em;
        li {
          & > a {
            color: rgba(232, 221, 186, 0.5);
          }
        }
      }
    }

    @media (max-width: 991px) {
      & {
        //height: 500px;
        background-color: #291C14;
        .footer-sitemap {
          padding-bottom: 30px;

          .sitemap-list {
            line-height: 2.35em;
          }
        }
      }
    }

    @media (max-width: 542px) {
      & {
        height: 500px;
        background-color: #291C14;
        .footer-sitemap {
          width: 50%;
          padding-bottom: 30px;

          .sitemap-list {
            line-height: 2.95em;
          }
        }
      }
    }
  }

  hr {
    margin: 5px 0;
    border-top-color: rgba(232, 221, 186, 0.5);
  }

  .header-wrapper {

    .header-left {
      float: left;
      ul {
        list-style: none;
        text-transform: uppercase;
        margin: 0;
        padding: 20px 20px 20px 0;
        li {
          display: inline-block;
          padding-right: 45px;
          a {
            color: @gray-light;
          }
        }
      }
    }

    .header-right {
      float: right;
      padding: 20px 0;
      .dropdown.header-switch {
        display: inline-block;
        margin-left: 25px;

        .dropdown-toggle {
          span:first-child {
            color: rgba(232, 221, 186, 0.5);
          }

          .glyphicon-triangle-top {
            top: 70%;
            right: -2px;
          }
        }

        .dropdown-menu {
          top: 100%;
          min-width: 0;
          left: auto;
          right: -12px;
        }
      }
    }
  }

}

.content-wrapper {
  margin-bottom: 120px;
  position: relative;
  top: 100px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Shadow effects
.shadow (@width: 3px) {
  border-width: 0 1px @width 1px;
}

.pagination, .pager, .panel {
  .shadow();
}

//.content {
//  position: relative;
//  top: 100px;
//}

.overflow {
  overflow: hidden;
}

.content.alert {
  top: 30vh;
}

// Order history page

.orders {
  .panel {

    .panel-body {
      padding: 0;
      text-align: left;
      .item {
        &.history {
          .price {
            padding-right: 10px;
          }
        }
        &.total > .pull-right {
          padding-right: 10px;
          font-weight: bold;
        }
      }
    }

    .panel-heading {
      width: 100%;
      padding: 10px 0;
      border: none;
      box-shadow: 0 2px rgba(69, 35, 17, 0.15);
      .info-main {
        font-weight: 600;
      }
      .info-status {
        &.success {
          color: @brand-success;
        }
        &.waiting {
          color: @brand-warning;
        }
      }
    }
  }
}

.panel {
  background-color: @gray-light-darken;
  color: @text-color;
  border-radius: 0;
  border-color: @gray;
  border-width: 0 0 1px 0;

  .panel-heading {
    color: inherit;
    background-color: @gray-light;
    border-color: @gray;
    border-radius: 0;
    .panel-title > a {
      .fa {
        padding-right: 5px;
        color: @text-color;
      }
      span {
        padding-left: 5px;
        text-transform: uppercase;
      }
      &:focus, &:hover, &:active {
        color: @text-color;
        text-decoration: none;
      }
    }
  }
}

.header {
  text-transform: uppercase;
  font-weight: bold;
}

// Checkout page

.order {
  position: relative;
  font-weight: 600;

  .left {
    padding-right: 45px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }

  .right {
    padding-left: 45px;
    width: 40%;
    display: inline-block;
  }

  .small-info {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 300;
  }

  h4 {
    font-weight: bold;
  }

  .item-list {
    background-color: @gray-light;
    color: @text-color;
    padding: 0;

    .item {
      border-color: @gray;

      &.discount {
        text-align: right;
        color: @text-muted;
        padding-right: 10px;
        border-top: none;
        height: 40px !important;
        line-height: 22px !important;
        text-transform: uppercase;
        font-size: 13px;
        input[type='checkbox'] {
          margin: 0;
          top: 3px;
        }
      }

      .info {
        color: inherit;
      }
      .price {
        color: @text-muted;
        font-weight: 500;
      }
    }

    .item:first-child {
      border-top: none;
    }

    .total {
      small {
        color: @text-mutest;
        font-weight: 500;
      }
      .total {
        float: right !important;
        color: @text-color;
        line-height: 60px;
        font-weight: 600;
        font-size: 15px;
        padding-right: 10px;
      }
    }
  }

  .empty {
    height: 120px;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
  }

  .recommendations {
    margin-top: 45px;
    a {

      @media (max-width: 1057px) {
        &:last-child, &:nth-last-child(2) {
          .grid-group-item-wrapper {
            display: none;
            visibility: hidden;
          }
        }
      }

      @media (max-width: 897px) {
        &:nth-last-child(3), &:nth-last-child(4) {
          .grid-group-item-wrapper {
            display: none;
            visibility: hidden;
          }
        }
      }

      @media (max-width: 767px) {
        &:nth-last-child(4) {
          .grid-group-item-wrapper {
            display: block;
            visibility: visible;
          }
        }

      }

      @media (max-width: 542px) {
        &:nth-last-child(4) {
          .grid-group-item-wrapper {
            display: none;
            visibility: hidden;
          }
        }

      }

    }
  }
}

.payment > .payment-submit.panel {
  background-color: @gray-light;
  border: none;
  .panel-body {
    border: none !important;
    line-height: 60px;
    height: 60px;
    .title {
      line-height: 40px;
    }
    .submit {
      line-height: 60px;
      .btn {
        line-height: 40px;
        height: 40px;
        padding: 0 30px;
      }
    }
  }
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus:after {
    border-color: @text-mutest;
    border-radius: 10px;
  }

  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid @text-mutest;
    border-radius: 10px;
    transition: 240ms;
  }

  &:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid @text-color;
    border-top-width: 0;
    border-left-width: 0;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }

  &:checked:after {
    background-color: transparent;
    border-color: transparent;
  }
}

.payment {

  .payment-errors {
    position: relative;
    top: -6px;
    height: 14px;
    font-size: 14px;
    font-weight: 600;
    color: @brand-danger;
  }

  .delivery-save {
    position: relative;
    display: inline-block;
    margin-top: 8px;

    span {
      color: @text-mutest;
    }

    input[type="checkbox"] {
      &:checked:after {
        background-color: @gray-light-darken;
        border-color: @gray-light-darken;
      }
    }

    input:checked + span {
      color: @text-color;
    }

  }

  .panel {
    & + .panel {
      margin: 0;
      border-bottom: none;
    }

    .panel-body {
      border-top-color: @gray !important;
      padding: 10px;
    }

    .panel-collapse > .panel-body {
      padding-top: 20px;
    }

  }

  .text-center {
    padding: 0 5px;
  }

  .input-wrapper {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 15px;
    display: inline-block;

    &:last-child:not(:first-child) {
      padding-right: 0;
      padding-bottom: 0;
    }

    &.month, &.year, &.state {
      padding-right: 15px;
    }

    &.month {
      width: 48%;
    }
    &.year {
      width: 27%;
    }

    &.cvc, &.zip {
      width: 20%;
      float: right;
    }

    &.state {
      width: 75%;
    }
  }
}

// select field
.account > .settings, .payment, .delivery {
  .form-group {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    &.state {
      .input-wrapper {
        div {
          padding-right: 0;
          &:not(:last-child) {
            padding-left: 0;
          }
        }
      }
    }

    .form-control {
      height: 34px;
      display: inline-block;
      text-transform: uppercase;
      color: @text-color;
      font-size: 16px;
      background-color: darken(@gray, 3%);
      border: none;
      border-radius: 4px;
      box-shadow: inset 0 3px 3px rgba(0, 0, 0, .075);
      &:focus {
        outline: none;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, .075);
      }
      &.has-error {
        background-color: @brand-danger-opacity;
      }
    }
    select.form-control {
      padding: 5px;
      &:focus {
        outline: @text-mutest double thin;
      }
    }

  }
}

// Profile settings page
.form-group {
  input.btn {
    margin-top: 30px;
  }
}

.avatar-holder {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  .avatar-img {
    display: inline;
    margin: 0;
    height: 100%;
    width: auto;

    &.horizontal {
      margin-left: -25%;
    }
    &.vertical {
      margin-top: -15%;
      width: 100%;
      height: auto;
    }
  }
}

.user-info {
  margin: 15px 0 20px;
  .avatar {
    position: relative;
    margin: 0 auto 20px;
    .avatar-holder {
      height: 100px;
      width: 100px;
      margin: auto;
      .avatar-img {
        opacity: 0.42;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      -webkit-transform: translate(-50%, -50%) scale(2);
      -moz-transform: translate(-50%, -50%) scale(2);
    }
  }
  .username {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }

  .email {
    color: @gray-muted;
    font-size: 0.9em;
    margin: 0;
  }

}

.account {

  .discounts {
    margin: 0 10%;

    .upper {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }

    .form-group {
      margin-top: 20px;
      width: 75%;
      padding-right: 30px;
      display: inline-block;
      &.has-error .help-block {
        color: darken(@brand-danger, 10%);
      }
    }
    .btn {
      padding: 6px 8%;
      vertical-align: top;
      margin-top: 20px;
    }

    &.info {
      text-align: center;
      .upper {
        width: 65%;
        margin: 30px auto 0;
        line-height: 35px;
        font-weight: normal;
        font-size: 25px;
      }
      .btn {
        display: block;
        margin: 40px auto 0;
      }
    }
  }

  .orders {
    text-align: center;
    text-transform: uppercase;
    &.empty {
      padding: 10% 0;
    }
  }

  .action {
    padding: 0;
    height: 60px;
    & > .btn {
      line-height: 30px;
      position: relative;
      top: 15px;
      min-width: 100px;
      padding: 0 10px;
      float: right;
    }

    .result, .error {
      line-height: 60px;
      text-transform: initial;
      font-weight: bold;
      font-size: 12px;
      color: darken(@brand-danger, 10%);
      .fa {
        font-size: 14px;
        &.fa-spinner {
          color: @gray-muted;
        }

        &.fa-check-circle {
          color: darken(@brand-success, 10%);
        }
      }
    }

  }
  .settings {
    text-transform: uppercase;
    margin-bottom: 20px;
    h4 {
      line-height: 40px;
      font-weight: 600;
      margin-top: 40px;
    }

    .form-group {
      display: block;
      height: 61px;
      margin: 0;
      border-top: 1px solid @gray-muted;
      &:last-child {
        border-bottom: 1px solid @gray-muted;
      }

      .value {
        line-height: 60px;
        height: 60px;
        .avatar-holder {
          top: 5px;
          line-height: normal;

        }
      }

      .input-wrapper {
        padding: 13px 15px;
      }

      .control-label {
        line-height: 60px;
        padding: 0;
        margin: 0;
        color: @gray-muted;
        font-weight: 500;
      }

      .form-control {
        height: 34px;
        display: inline-block;
        text-transform: uppercase;
        color: @text-color;
        font-size: 16px;
        background-color: darken(@gray, 3%);
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, .075);
        &:focus {
          outline: none;
          box-shadow: inset 0 3px 3px rgba(0, 0, 0, .075);
        }
        &.has-error {
          background-color: @brand-danger-opacity;
        }
      }
      select.form-control {
        padding: 5px;
      }

    }
  }
}

.fa-circle {
  transform: scale(0.45, 0.45);
  color: @text-color;
}

.breadcrumbs {
  text-transform: uppercase;
  margin: 10px 0;

  .fa-circle {
    transform: scale(0.45, 0.45);
    color: @text-mutest;
  }

  a {
    color: @text-mutest;
    padding: 10px;
    font-size: 18px;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: @text-mutest;
      cursor: pointer;
    }

    &.active {
      color: @text-color;
    }
  }

  hr {
    border-color: @gray-muted;
  }

  @media (max-width: 767px) {
    a {
      padding: 20px;
    }
  }

}

// Shopping cart dropdown
.dropdown-cart {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  min-width: 75px;

  & > a[role='button'] {
    //float: right;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    color: @text-color;

    &:hover, &:focus {
      background-color: transparent;
    }
  }
  .count {
    padding-left: 5px;
    min-width: 35px;
    text-align: left;
    display: inline-block;
  }
  .fa-shopping-cart {
    width: 15px;
  }
  &.disabled {
    a {
      cursor: default !important;
      color: @text-mutest !important;
    }
  }

  .dropdown-container {
    position: absolute;
    background-color: @gray-light-darken;
    color: @text-color;
    box-shadow: 0 1px 3px @gray-darkest;
    width: 370px;
    right: -5vw;
    top: 98%;
    margin-top: 1px;
    font-size: 13px;
    text-align: left;
    visibility: hidden;
    display: none;

    &.in {
      display: block;
      visibility: visible;
    }

    div.header {
      height: 60px;
      padding: 10px;
      line-height: 40px;
      font-weight: bold;

      .price {
        padding-right: 10px;
      }

      .btn {
        height: 40px;
        padding: 10px;
      }

    }
  }

  &.is-contracted {
    .glyphicon {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      border-top-width: 0;
      border-bottom-width: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.is-expanded {
    .glyphicon {
      color: @gray-light-darken;
      top: -27px;
      left: auto;
      z-index: 500;
      transform: scale(1.5, 1.5);
    }
  }
}

div.item:not(.in-carousel) {
  display: block;
  position: relative;
  height: 60px !important;
  overflow: hidden;
  width: 100%;
  line-height: 60px !important;
  border-top: 1px solid @gray;

  &:hover:not(.total):not(.history):not(.discount) {
    background-color: rgba(255, 255, 255, 0.05);
    .info {
      line-height: 20px;
      padding: 10px 0px 10px 10px;
      .info-hovered {
        opacity: 1;
        display: block;
        a {
          cursor: pointer;
          padding-right: 10px;
          color: @text-mutest;
          font-weight: 500;
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
    .image {
      opacity: 1;
    }
  }

  .image {
    img {
      //border-top: 1px solid @gray-darker;
      border-radius: 0;
    }
    width: 60px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    float: left !important;
    opacity: 0.95;
  }

  .info-wrapper {
    padding-left: 60px;
    height: 60px;

    & > * {
      display: inline-block;
    }
    .counter {
      padding-right: 10px;
      width: 20%;
      .fa.fa-times {
        padding-right: 2px;
      }
    }

    .price {
      width: 20%;
      padding-right: 10px;
      text-align: right;
      vertical-align: top;
    }

    .info {
      color: @text-color;
      text-transform: none;
      font-weight: 600;
      padding-left: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60%;
      .info-hovered {
        opacity: 0;
        display: none;
      }

      &.alone {
        width: 80%;
        padding-right: 10px;
      }
    }

  }
}

//navigation menu
.navigation {
  .clear {
    margin-left: 10px;
    cursor: pointer;
    .glyphicon {
      transform: scale(0.5, 0.5);
    }
  }
  .header-switches {
    line-height: 30px;
    margin-bottom: 10px;

    .left-part, .right-part {
      display: inline-block;
    }

    .right-part {
      float: right;
      .header-switch {
        display: inline-block;
        &:not(:first-child) {
          padding-left: 10px;
        }

        .sorting {
          text-transform: uppercase;
          .sortType {
            font-weight: bold;
            padding: 0 5px;
          }
        }

        .dropdown-menu {
          left: 45px;
          &.shifted {
            left: 100px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .right-part, .left-part {
        width: 100%;
        .clear {
          float: right;
        }
        .header-switch:last-child {
          float: right;
          text-align: right;
        }
      }

    }

    @media (max-width: 542px) {
      .right-part {
        .header-switch {
          width: 100%;
          &:last-child {
            float: none;
            text-align: left;
            padding-left: 0;
          }
        }
      }

    }

  }

}

// navigation types selection
div.filters {
  border: none;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 30px;
  //border-bottom: 1px solid @gray-darker;

  .navbar-nav {
    font-weight: 600;
    width: 77%;
    //position: relative;
    //left: 2px;

    li.active {
      & > a:focus, & > a:hover, & > a:active {
        background-color: @gray-lighter !important;
      }
    }

    & > li.open {
      & > a, & > a:focus, & > a:hover, & > a:active {
        color: @text-color;
        background-color: @gray-lighter;
        .glyphicon-triangle-top {
          top: 39px;
          right: 12px;
          transform: scale(1.25, 1.25);
        }
      }

      &:last-child {
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }

      .dropdown-menu {
        z-index: 90;
      }

    }

    li.filters {
      min-width: calc(100% / 7);
      border: solid @gray;
      border-width: 0 0 0 1px;
      text-align: left;

      &:last-child:not(.rest):not(.collapsed) {
        border-width: 0 1px 0 1px;
      }

      &.open {
        //background-color: @gray-light-darken;
        color: @text-color;

        .dropdown-menu > li.filters > a {
          padding-left: 10px;
        }

      }

      .caret, .fa-remove {
        float: right;
        position: relative;
      }
      .caret {
        top: 9px;
      }
      .fa-remove {
        top: 2px;
        transform: scale(0.8, 0.8);
      }

    }
  }

  .collapse-toggle {
    display: none;
  }

  .collapse {
    padding: 0;
  }

  .search-form {
    padding: 0;
    width: 23%;
    float: left;

    .navbar-form {
      border: none;
      .search-btn {
        background-color: transparent;
        color: @text-color;
        height: 34px;
        border: 1px solid;
        box-shadow: none;
        padding-bottom: 2px;
        min-width: 30px;
        &:hover {
          background-color: transparent;
          color: @text-color;
        }
        .glyphicon {
          top: 3px;
        }
      }
      .input-group-btn:first-child > .search-btn {
        border-right: none;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        cursor: default;
      }

      .input-group-btn:last-child > .search-btn {
        border-left: none;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
      input::-webkit-input-placeholder {
        color: @text-mutest !important;
      }

      input:-moz-placeholder {
        /* Firefox 18- */
        color: @text-mutest !important;
      }

      input::-moz-placeholder {
        /* Firefox 19+ */
        color: @text-mutest !important;
      }

      input:-ms-input-placeholder {
        color: @text-mutest !important;
      }
      input[type=text] {
        border: 1px solid @gray-darkest;
        color: @text-color;
        box-shadow: none;
        border-left: transparent;
        border-right: transparent;
        padding-top: 3px;
        padding-left: 5px;
      }
    }
  }

  @media (min-width: 1200px) {
    .navbar-nav > li.open:last-child {
      .dropdown-menu {
        right: -1px;
      }

    }
  }

  @media (max-width: 991px) {

    .collapse-toggle, .collapse-toggle > li.filters {
      display: inline-block;
    }

    .collapse:not(.in) {
      display: none !important;
    }

    ul.navbar-nav {
      width: 110px;
    }

    .search-form {
      width: 40%;
    }

    li.filters {
      width: 100%;
    }

    .collapse.in {
      position: absolute;
      z-index: 2;
      top: 50px;
      background-color: @gray-light-darken;
      width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

      ul.navbar-nav {
        width: 100%;
      }

      li.filters {
        display: block;
        width: 100%;
        border-width: 0;
        &:not(:last-child) {
          border-bottom: 1px solid @gray;
        }
      }

      .dropdown-menu {
        left: auto !important;
        right: 0;
        top: 100%;
      }

    }

  }

  @media (max-width: 767px) {
    .search-form {
      width: 50%;
    }

    .navbar-form {
      margin: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .collapse-toggle > li.filters {
      left: -14px;
      height: 50px;
      top: -8px;
      a {
        line-height: 30px;
      }
    }
  }

  @media (max-width: 542px) {
    .search-form {
      width: 60%;
    }

  }

}

.dropdown {
  .glyphicon-triangle-top {
    opacity: 0;
    display: none;
  }
  &.open {

    .glyphicon-triangle-top {
      opacity: 1;
      display: inline-block;
      color: @gray-light-darken;
      float: right;
      position: absolute;
      top: 21px;
      right: -3px;
    }
  }
  ul.dropdown-menu {
    box-shadow: 0 2px 2px @gray-darkest;
    background-color: @gray-light-darken;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    color: @text-color;
    top: 98%;
    padding: 0;
    z-index: 100;

    li {
      height: 35px;
      border-width: 0;
      &:not(:last-child) {
        border-bottom: 1px solid @gray;
      }
      &:last-child {
        border: none;
      }

      a {
        &:focus, &:hover, &:active {
          color: @text-color;
          background-color: @gray-light;
        }
        line-height: 35px;
        color: @text-color;
        padding-top: 0;
        padding-bottom: 0;
      }

    }
  }
}

// Login modal dialog

.modalForm {
  .modal-dialog {
    top: 5%;
    max-width: 400px;
    margin: 10% auto;
    .modal-content {
      background-color: @gray-light;
    }
  }

  @media (max-width: 1199px) {
    .modal-dialog {
      margin: 30px auto;
    }
  }
  .modal-header {
    padding: 5px;
  }
  .modal-body {
    padding: 0 30px 30px;
    text-align: center;
    .title {
      text-transform: uppercase;
      color: @text-color !important;
      margin-bottom: 20px;
    }
    .fa-spin {
      color: @text-mutest;
    }
    button {
      margin: 25px 0 15px 0;
    }
    hr {
      margin: 25px 0;
      border-color: lighten(@gray-light, 5%);
    }

    small {
      color: rgba(48, 24, 0, 0.75);
      margin-top: 15px;
    }

  }
  .modal-header, h4, .close {
    border-bottom: none;
    color: @gray-darker !important;
    text-align: center;
    font-size: 30px;
  }
  .footer {
    margin: 0 0 20px 0;
    .btn.btn-block:first-child:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// Buttons

input.btn-default {
  margin-right: 20px;
}

.container-fluid, .container {
  padding: 0 25px;
}

.btn-default {
  color: @gray-lighter;
  min-width: 70px;
  background-color: @gray-darkest;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px @gray-darkest;
  &:hover, &.hovered {
    color: @gray-darkest;
    background-color: @gray-lighter;
  }

  &:focus, &:active {
    color: @gray-darkest;
    background-color: @gray-lighter;
    outline: none;
  }

  &.active:focus, &.active.focus, &.active:hover, &:active.focus, &:active:focus, &:active:hover {
    color: @gray-lighter;
    background-color: @gray-dark;
    outline: none;
  }
}

.btn-success {
  color: @gray-lightest;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px darken(@brand-success, 7%);
  text-transform: uppercase;
  &:focus, &:hover, &.hovered, &:active, &:active:focus {
    color: @gray-lightest;
  }
  &.active:focus, &.active.focus, &.active:hover, &:active.focus, &:active:focus, &:active:hover {
    color: @gray-lightest;
    outline: none;
  }
}

// Lists

.list-group.grid {
  margin-left: -20px;
}

.list-sm-group-item {
  color: @text-color;
  background-color: @gray-light;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25);
  padding-right: 0;
  border: none;
  border-top: 1px solid @gray;
  max-height: 70px;

  &:first-child {
    border: none;
  }

  &:first-child, &:last-child {
    border-radius: 0;
  }
  //max-height: 160px;

  & > div {
    display: inline-block;
  }
  .img-holder {
    width: 70px;
    padding-right: 0px;
    vertical-align: top;
    img {
      border-radius: 0;
    }
  }

  .info-holder {
    width: ~'calc(100% - 70px)';

    & > div {
      display: inherit;
    }

    .title {
      //width: 80%;
      padding: 0 15px;
      line-height: 70px;
      word-wrap: normal;
      margin: 0;
      font-size: 15px;
    }

    .bottom-product-info {
      width: 20%;
      padding: 10px 5px;
      vertical-align: top;
      //float: right;
      text-align: right;

      .availability {
        color: @brand-success;
        padding-top: 6px;
        padding-right: 6px;
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        &.has-error {
          color: @brand-danger;
        }
      }
    }

  }

  @media only screen and (max-width: 420px) {
    & {
      max-height: none;
    }

    .img-holder {
      //display: none;
      width: 100%;
    }

    .info-holder {
      display: block;
      width: 100%;
      .bottom-product-info {
        width: 100%;
        float: none;
        .availability {
          float: left;
        }
        .price {
          display: inline-block;
          float: right;
        }
      }
    }
  }

  @media only screen and (min-width: 421px) and (max-width: 542px) {
    .info-holder {
      .text {
        width: 74%;
      }
      .bottom-product-info {
        width: 25%;
      }
    }
  }
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 542px) and (max-width: 767px) {
    .info-holder {
      .text {
        width: 75%;
      }
      .bottom-product-info {
        width: 25%;
      }
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .info-holder {
      .text {
        width: 85%;
      }
      .bottom-product-info {
        width: 15%;
      }
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    & {
      max-height: 70px;
    }

    .img-holder {
      width: 70px;
    }

    .info-holder {
      width: ~'calc(100% - 70px)';
      .text {
        width: 80%;
      }
      .bottom-product-info {
        width: 20%;
      }
    }
  }
}

.news-group-item {
  color: @text-color;
  background-color: @gray-light;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25);
  padding-right: 0;
  border: none;
  border-top: 1px solid @gray;
  max-height: 140px;

  &:first-child {
    border: none;
  }

  &:first-child, &:last-child {
    border-radius: 0;
  }
  //max-height: 160px;

  & > div {
    display: inline-block;
  }
  .img-holder {
    width: 280px;
    height: 140px;
    padding-right: 0;
    vertical-align: top;
    img {
      border-radius: 0;
    }
  }

  .info-holder {
    width: ~'calc(100% - 280px)';

    & > div {
      display: inherit;
    }

    .text {
      padding: 10px 15px;
      .title {
        word-wrap: normal;
        margin: 0;
        font-size: 15px;
      }

      small {
        color: @text-muted;
      }
    }

  }

  @media only screen and (max-width: 420px) {
    & {
      max-height: none;
    }

    .img-holder {
      //display: none;
      //width: 100%;
    }

    .info-holder {
      //display: block;
      //width: 100%;
    }
  }

  /* Medium Devices, Desktops */
  //@media only screen and (min-width: 992px) {
  //  & {
  //    max-height: 140px;
  //  }
  //
  //  .img-holder {
  //    width: 280px;
  //    height: 140px;
  //  }
  //
  //  .info-holder {
  //    width: ~'calc(100% - 280px)';
  //  }
  //}
}

.list-group-item {
  color: @text-color;
  background-color: @gray-light;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px @gray-darkest;
  padding-right: 0;
  border: none;
  border-top: 1px solid @gray;
  margin-bottom: 3px;

  &:first-child {
    border: none;
  }

  &:first-child, &:last-child {
    border-radius: 0;
  }
  //max-height: 160px;

  & > div {
    display: inline-block;
  }
  .img-holder {
    width: 14%;
    padding-right: 10px;
    vertical-align: top;
  }

  .info-holder {
    width: 86%;

    & > div {
      display: inherit;
    }

    .title {
      width: 100%;
    }

    .text {
      width: 80%;
      p {
        font-size: 16px;
      }
    }

    .bottom-product-info {
      width: 10%;
      padding: 10px;
      vertical-align: top;
      float: right;
      text-align: center;

      .availability {
        color: @brand-success;
        padding-top: 6px;
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        &.has-error {
          color: @brand-danger;
        }
      }

      .stars {
        transform: scale(0.9, 0.9);
        min-width: 70px;
        padding-bottom: 5px;
      }
    }

  }
  @media only screen and (max-width: 420px) {
    .img-holder {
      display: block;
      width: 100%;
    }

    .info-holder {
      display: block;
      width: 100%;
      .bottom-product-info {
        width: 100%;
        float: none;
        .availability {
          float: left;
        }
        .price {
          display: inline-block;
          float: right;
        }
      }
    }
  }

  @media only screen and (min-width: 421px) and (max-width: 542px) {
    .img-holder {
      width: 25%;
    }

    .info-holder {
      width: 74%;
      .text {
        width: 74%;
      }
      .bottom-product-info {
        width: 25%;
        padding: 0;
      }
    }
  }
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 542px) and (max-width: 767px) {
    .img-holder {
      width: 20%;
    }

    .info-holder {
      width: 80%;
      .text {
        width: 75%;
      }
      .bottom-product-info {
        width: 25%;
      }

    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .info-holder {
      .text {
        width: 85%;
      }
      .bottom-product-info {
        width: 15%;
      }
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .info-holder {
      .text {
        width: 90%;
      }
      .bottom-product-info {
        width: 10%;
      }
    }
  }
}

.grid-group-item-wrapper {
  padding-left: 20px;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: 20em) {
    & {
      width: 50%;
    }
  }

  @media (min-width: 39.375em) {
    & {
      width: 33.333333%;
    }
  }

  @media (min-width: 53.75em) {
    & {
      width: 25%;
    }
  }

  @media (min-width: 67.1875em) {
    & {
      width: 20%;
    }
  }

  .grid-group-item {
    color: @text-color;
    background-color: @gray-light;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px @gray-darkest;
    border: none;
    padding: 0 10px;
    margin-bottom: 30px;

    .img-holder {
      width: 100%;
      padding-top: 10px;
    }

    .text {
      padding-top: 10px;
      text-transform: uppercase;
      @font-size: 15px;
      @line-height: 1.2;
      @lines-to-show: 2;

      h4 {
        //display: block; /* Fallback for non-webkit */
        //display: -webkit-box;
        min-height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: @font-size;
        line-height: @line-height;
        float: left;
        width: 100%;
        //-webkit-line-clamp: @lines-to-show;
        //-webkit-box-/orient: vertical;
        //overflow: hidden;
        //text-overflow: ellipsis !important;
      }

      margin-bottom: 10px;
    }

    .bottom-product-info {
      margin-top: 10px;
      display: inline-block;
      //float: right;
      width: 100%;

      .availability {
        color: @brand-success;
        padding-top: 6px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 32px;
        &.has-error {
          color: @brand-danger;
        }
      }

      .price {
        float: right;
        padding-bottom: 10px;
        display: inline-block;
      }
    }
  }

}

.ruler {
  font-size: 15px;
  visibility: hidden;
  white-space: nowrap;
}

.img-thumbnail {
  background-color: @gray;
  border: none;
}

.img-responsive {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px @gray-darkest;
}

//muted text

.text-muted {
  color: @gray-light;
}

// Input styling

input::-webkit-input-placeholder {
  color: @text-mutest !important;
  font-weight: 500;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: @text-mutest !important;
  font-weight: 500;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: @text-mutest !important;
  font-weight: 500;
}

input:-ms-input-placeholder {
  color: @text-mutest !important;
  font-weight: 500;
}

input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control {
  padding: 0 7px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 -1px 0 lighten(@gray-light, 5%);
  font-size: 16px;
  color: @text-color;

  &:focus {
    box-shadow: inset 0 -2px 0 @gray-dark;
  }

  &[disabled] {
    box-shadow: none;
    border-color: @gray-border;
    border-bottom: 1px dotted #ddd;
  }
}

// Navbar
.navbar {
  border-radius: 0;
  background-color: @gray-light;
  border-color: transparent;
  border-bottom: none;
  box-shadow: 0 1px 3px @gray-darkest;
  .container {
    height: 50px;
  }

  .navbar-head {
    margin-left: 0;
    i.fa-cog {
      color: @text-color;
      transform: scale(1.25, 1.25);
      padding: 15px 20px;
    }

    i.fa.fa-cog, .block-center, .dropdown-cart {
      display: none;
    }

    a {
      color: @text-color;
      text-decoration: none;
    }

  }

  .navbar-nav {
    & > li.open {
      & > a, & > a:focus, & > a:hover, & > a:active {
        color: @text-color;
        background-color: @gray-light;
      }

    }

    li {
      border: solid @gray;
      border-width: 0 0 0 1px;

      &:last-child {
        border-width: 0 1px;
      }

      & > a {
        color: @text-color;
      }
    }

    .active > a {
      color: @text-color;
      background-color: @gray-lighter;
    }
    .active, li {
      a:hover, a:focus {
        color: @text-color;
        &:not(.extras):not(.checkout) {
          background-color: @gray-lighter;
        }
      }

    }
  }

  .navbars {
    width: 100%;

    .navbar-left {
      .navbar-brand {
        width: 140px;
        margin-left: 0;
        margin-right: 15px;
      }
    }

    .navbar-right {
      margin-right: 0;
    }

    &.is-anonymous {
      li.nav-link:not(.nav-buttons) {
        width: 19%;
      }
      &.wide {
        li.nav-link:not(.nav-buttons) {
          width: 18%;
        }
      }
    }

    .navbar-nav {
      display: inline-block;
      float: none;
      width: ~'calc(100% - 230px)';

      & > li.open {
        & > a, & > a:focus, & > a:hover, & > a:active {
          color: @text-color;
          background-color: @gray-light;
        }

      }

      li.nav-link {
        width: 20%;
        font-weight: 600;
        //border-width: 0 0 0 1px;
        text-align: center;
        text-transform: uppercase;

        .dropdown-menu {
          width: 100%;
          min-width: 0;
          top: auto;

        }

        &.nav-buttons {
          width: 24%;
          line-height: 50px;
          text-align: center;
          .navbar-btn {
            margin: 0;
            a.btn-default {
              line-height: 30px;
              min-width: 0;
              padding: 0 17px;
              border-width: 1px;
              &:first-child {
                //float: left;
                margin-right: 15px
              }

            }
          }
          &.wide {
            width: 28%;
          }
        }

      }

    }

    @media (max-width: 1160px) and (min-width: 1061px) {
      &.is-anonymous {
        .navbar-nav {
          li.nav-link:not(.nav-buttons) {
            width: 18.5%;
          }
        }
        &.wide {
          li.nav-link:not(.nav-buttons) {
            width: 17%;
          }
        }
      }

      .navbar-nav {
        li.nav-link.nav-buttons {
          width: 26%;
          &.wide {
              width: 30%;
          }
        }
      }

    }

    @media (max-width: 1060px) and (min-width: 951px) {

      &.is-anonymous {
        .navbar-nav {
          li.nav-link:not(.nav-buttons) {
            width: 18%;
          }
        }
      }

      .navbar-nav {
        li {
          &.nav-link.nav-buttons {
            width: 28%;
          }

          &.dropdown-cart {
            min-width: 65px;
          }
        }
      }

    }
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-brand {
    color: @gray-lighter;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    min-width: 140px;
    img.navbar-brand {
      margin: 0;
    }

    a {
      padding: 0;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }

}

// Pagination

.paging {
  padding: 20px 0;
  text-align: center;
  color: @text-color;
  i {
    padding: 0 5px;
  }

  span {
    cursor: pointer;
    &.disabled {
      color: darken(@gray, 13%);
      cursor: not-allowed;
    }

  }

  div {
    display: inline-block;
    min-width: 12px;
  }
  input {
    text-align: center;
    border: none;
    border-radius: 3px;
    background: transparent;
    box-shadow: none;
    &:hover {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .25), 0 1px 3px rgba(0, 0, 0, .3);
    }
  }
}

// Alert styling

.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 @brand-warning;
  }
}

.has-error {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    background-color: @brand-danger-opacity;
  }
  .help-block {
    color: @brand-danger;
  }
}

.has-success {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 @brand-success;
  }
}

// Custom link color
a {
  color: @brand-success;
  &:hover, &:focus {
    color: darken(@brand-success, 17.5%);
  }
}

// Responsiveness tweak

@media (max-width: 1299px) {
  .dropdown-cart.is-expanded {
    .dropdown-container {
      right: -4vw;
    }
  }
}

@media (max-width: 1249px) {
  .dropdown-cart.is-expanded {
    .dropdown-container {
      right: -2vw;
    }
  }
}

@media (max-width: 1199px) {

  .order {
    .left {
      padding-right: 20px;
    }

    .right {
      padding-left: 20px;
    }

    .panel-body > .submit > .btn {
      padding: 0 10px !important;
    }
  }

  .navbar .navbars {
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }

  .dropdown-cart.is-expanded {
    .dropdown-container {
      right: -1vw;
    }
  }

  .dropdown {
    ul.dropdown-menu {
      li > a {
        padding-left: 12px;
      }
    }
  }
}

@media (max-width: 991px) {

  .order {
    .left {
      padding-right: 5px;
      width: 58%;
    }

    .right {
      padding-left: 5px;
      width: 42%;
    }

    .input-wrapper {
      &.month {
        width: 50%;
      }
      &.year {
        width: 30%;
      }
      &.state {
        width: 80%
      }
    }
  }

  .account .settings h4 {
    text-align: center;
  }

  .content-wrapper {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }

  body {
    overflow-x: hidden;
  }

  .navbar-expanded.content-wrapper {
    left: 245px;
  }

  .widget-expanded.content-wrapper {
    left: -245px;
  }

  .content {
    top: 65px;
  }

  .navbar.navbar-default:not(.filters) {
    min-height: 44px !important;
    height: 44px !important;
    box-shadow: none;

    & > .container {
      padding: 0;
      min-height: 44px !important;
      height: 44px !important;
      .navbar-brand {
        margin-left: 0;
        text-align: center;
      }
    }

    .navbars {
      .navbar-left, .navbar-right {
        display: none;
      }

      .navbar-nav.collapsed {
        width: 245px;
        position: absolute;
        top: 0;
        margin-top: 0;
        margin-right: 0;
        background-color: @gray-light-darken;
        padding-top: 44px;
        height: 100vh;
        z-index: -1;

        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;

        li.nav-link {
          display: block;
          width: 100%;
          border-width: 0 0 1px 0;
          &.dropdown, &.dropdown.open {
            & > a, & > a:focus, & > a:hover, & > a:active {
              color: @text-color;
              background-color: @gray-light;
            }
            .dropdown-menu {
              display: block;
              box-shadow: none;
              text-align: center;
              font-size: 15px;
              li {
                height: 50px;
                &:first-child {
                  border-top: 1px solid #999273;
                }
                &:last-child {
                  border-width: 0;
                  border-bottom: 1px solid #999273;
                }
                & > a {
                  font-weight: bold;
                  line-height: 50px;
                }
              }
            }
          }
        }

        &.is-contracted {
          //opacity: 0;
          left: -250px;
        }

        &.is-expanded {
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          opacity: 1;
          left: 0;
        }

      }

    }

    .navbar-head {
      text-align: center;
      min-height: 44px !important;
      height: 44px !important;
      background-color: @gray-light;
      box-shadow: 0 1px 3px @gray-darkest;
      img {
        height: 44px;
        width: auto;
      }

      i.fa.fa-cog, .block-center, .dropdown-cart {
        display: inline-block;
        height: 40px;
      }

      i.fa.fa-cog {
        float: left;
        cursor: pointer;
        padding: 0;
        line-height: 44px;
        margin-left: 10px;
      }

      .dropdown-cart {
        float: right;
        min-width: 60px;
        margin-right: 5px;
        & > a[role='button'] > div {
          text-align: right;
          line-height: 44px;
        }

        .dropdown-container {
          display: block;
          visibility: visible;
          right: -250px;
          width: 245px;
          height: 100vh;
          z-index: -1;

          -webkit-transition: right 0.5s ease-in-out;
          -moz-transition: right 0.5s ease-in-out;
          -o-transition: right 0.5s ease-in-out;
          transition: right 0.5s ease-in-out;

          .info-wrapper {
            padding-left: 0;
          }

          .header {
            height: auto;
            .checkout {
              width: 100%;
            }
            .fa-circle {
              transform: scale(0.45, 0.45);
              color: @text-color;
            }
            text-align: center;
          }

          &.in {
            right: 0;
          }
        }

      }
    }
  }
}

@media (max-width: 675px) {
  .account .settings {
    .form-group:not(.username) {
      height: 110px;
    }
    .form-group {
      .control-label {
        width: 30%;
      }
      .value, .input-wrapper {
        width: 70%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .avatar-holder {
          margin-left: ~'calc(50% - 25px)';
        }

      }
      .action {
        width: 100%;
        height: 30px;
        .btn {
          width: 70%;
          top: 0;

        }
      }
    }
  }
}

@media (max-width: 881px) {

  .order {
    .input-wrapper {
      &.month {
        width: 100%;
        padding-right: 0;
      }
      &.year, &.state {
        width: 65%;
        padding-right: 15px;
      }

      &.cvc, &.zip {
        width: 35%;
      }
    }
  }
}

@media (max-width: 767px) {

  .order {
    .left, .right {
      display: block;
      width: 100%;
      padding: 0;
      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
}