/* custom styles */
@import url("https://fonts.googleapis.com/css?family=Exo:400, 500,700");
html {
  position: relative;
  min-height: 100%;
}
hr {
  border-top-color: #eee6cd;
}
.upper {
  text-transform: uppercase;
}
.stars {
  min-width: 75px;
  display: inline-block;
  text-align: center;
}
.stars .fa-circle {
  transform: scale(0.6, 0.6);
}
.stars .star {
  color: rgba(69, 35, 17, 0.45);
}
.stars .star.is-full {
  color: #452311;
  cursor: pointer;
}
.modalForm.review .modal-dialog {
  max-width: 600px;
}
.modalForm.review .modal-dialog .modal-body {
  padding: 0 20px;
}
.modalForm.review .modal-dialog .modal-body .headers {
  font-size: 16px;
  text-align: left;
  padding-bottom: 20px;
}
.modalForm.review .modal-dialog .modal-body .input-group .input-group-addon {
  background-color: transparent;
  border-color: rgba(69, 35, 17, 0.1);
}
.modalForm.review .modal-dialog .modal-body .input-group input[type='text'] {
  box-shadow: none;
  border: 1px solid rgba(69, 35, 17, 0.1);
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.modalForm.review .modal-dialog .modal-body textarea {
  min-height: 200px;
  border-color: rgba(69, 35, 17, 0.1);
}
.modalForm.review .modal-dialog .modal-body textarea:focus {
  outline: none;
}
.modalForm.review .modal-dialog .modal-body button.btn-default {
  margin: 10px 0 25px;
  min-width: 180px;
}
.product-details {
  /* Small Devices, Tablets */
}
.product-details hr {
  border-top-color: rgba(69, 35, 17, 0.45);
}
.product-details .rating .stars {
  margin-right: 7px;
  display: inline-block;
}
.product-details .rating .votes {
  padding-right: 15px;
  border-right: 1px solid #452311;
}
.product-details .rating .types {
  padding-left: 15px;
}
.product-details .rating .votes,
.product-details .rating .types {
  font-size: 14px;
}
.product-details .rating .add-review {
  text-decoration: underline;
  cursor: pointer;
}
.product-details .column-left {
  display: inline-block;
  width: 62.2641509434%;
  padding-right: 60px;
}
.product-details .column-left .media {
  padding-bottom: 30px;
}
.product-details .column-left .media img {
  margin: auto;
  width: 400px;
}
.product-details .column-left .info .rating div {
  display: inline-block;
}
.product-details .column-left .info .rating div strong {
  margin-left: 7px;
}
.product-details .column-left .info .description-header,
.product-details .column-left .info .review-header {
  border-bottom: 1px solid rgba(69, 35, 17, 0.1);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 0;
}
.product-details .column-left .info .description-text {
  margin-top: 10px;
}
.product-details .column-left .info .reviews {
  margin-top: 40px;
}
.product-details .column-left .info .reviews .review-subheader {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0;
}
.product-details .column-left .info .reviews .no-reviews {
  padding: 23px 0;
  border: solid rgba(69, 35, 17, 0.1);
  border-width: 1px 0;
}
.product-details .column-left .info .reviews .review {
  padding: 23px 0;
  border-top: 1px solid rgba(69, 35, 17, 0.1);
}
.product-details .column-right {
  display: inline-block;
  vertical-align: top;
  width: 37.735%;
}
.product-details .column-right .list-group {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.product-details .column-right .fa-refresh {
  line-height: 45px;
}
.product-details .column-right .buy-panel {
  background-color: #E8DDBA;
  padding: 0 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.product-details .column-right .buy-panel strong {
  float: left;
  line-height: 64px;
}
.product-details .column-right .buy-panel .btn {
  min-width: 204px;
  margin: 14px 0;
  padding: 0 10px;
}
.product-details .column-right .buy-panel .btn span {
  line-height: 36px;
}
.product-details .column-right .recommendations > div {
  margin-top: 35px;
}
.product-details .column-right .recommendations > div .upper {
  font-weight: bolder;
  font-size: 16px;
  padding: 10px 0;
}
.product-details .column-right .list-sm-group-item .info-holder .text {
  width: 70% !important;
}
.product-details .column-right .list-sm-group-item .info-holder .bottom-product-info {
  width: 30% !important;
}
@media only screen and (min-width: 0px) and (max-width: 836px) {
  .product-details .column-right,
  .product-details .column-left {
    width: 100%;
    display: block;
    padding: 5px;
  }
}
@media only screen and (min-width: 837px) and (max-width: 1051px) {
  .product-details .column-left {
    width: 55%;
  }
  .product-details .column-right {
    width: 45%;
  }
  .product-details .column-right .list-sm-group-item .info-holder .text {
    width: 65%;
  }
  .product-details .column-right .list-sm-group-item .info-holder .bottom-product-info {
    width: 35%;
  }
}
.product-details .headline {
  line-height: 50px;
}
.product-details .headline:first-child {
  margin-top: 30px;
}
.product-details .headline:not(:last-child) {
  border-bottom: 1px solid rgba(69, 35, 17, 0.1);
}
.product-details .headline a {
  color: #452311;
}
.product-details .headline a .title {
  font-size: 16px;
  font-weight: normal;
}
.product-details .navigation {
  border: solid rgba(69, 35, 17, 0.1);
  border-width: 1px 0;
  margin-top: 50px;
}
.product-details .navigation .next,
.product-details .navigation .prev {
  width: 50%;
  display: inline-block;
}
.product-details .navigation .next a,
.product-details .navigation .prev a {
  color: #452311;
  font-size: 16px;
}
.product-details .navigation .next a span,
.product-details .navigation .prev a span {
  width: 90%;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
.product-details .navigation .next a .fa,
.product-details .navigation .prev a .fa {
  float: right;
}
.product-details .navigation .prev {
  border-right: 1px solid rgba(69, 35, 17, 0.1);
}
.product-details .navigation .prev a span {
  text-align: right;
  padding-right: 0;
}
.product-details .navigation .prev a .fa {
  float: left;
}
.contacts h3.text-center {
  font-weight: bold;
  text-transform: uppercase;
}
.contacts .contact-form {
  width: 45%;
  display: inline-block;
  padding-left: 50px;
  vertical-align: top;
}
.contacts .contact-form .form-group input[type='submit'] {
  float: right;
  margin-top: 10px;
  margin-right: 0;
}
.contacts .contact-form .form-group textarea {
  max-width: 105%;
  min-height: 142px;
}
.contacts .location {
  width: 55%;
  display: inline-block;
  padding-right: 0;
}
.contacts .location p {
  font-weight: bold;
}
.contacts .location .map {
  width: 100%;
  height: 350px;
}
@media (max-width: 542px) {
  .contacts .contact-form,
  .contacts .location {
    width: 100%;
    padding: 0 0 40px 0;
    display: block;
  }
}
body {
  font-family: "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #452311;
  font-size: 15px;
  background-color: #999273;
  margin-bottom: 380px;
}
body .title {
  font-weight: bold;
  font-size: 18px;
}
.gimme-more {
  position: relative;
  z-index: 5;
  width: 100%;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DACDA3;
  color: rgba(69, 35, 17, 0.45);
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}
.gimme-more:hover {
  opacity: 1;
  cursor: pointer;
}
.gimme-more a,
.gimme-more a:hover,
.gimme-more a:focus,
.gimme-more a:active {
  color: rgba(69, 35, 17, 0.45);
  text-decoration: none;
}
.index.content h4 {
  text-transform: uppercase;
  line-height: inherit;
  font-weight: bold;
}
.index.content .small-info {
  position: relative;
  width: 50%;
  margin-bottom: 35px;
  padding-right: 10px;
}
@media (max-width: 991px) {
  .index.content .small-info {
    width: 100%;
    padding-right: 0;
  }
}
.index.content .small-info .about {
  color: #E8DDBA;
}
.index.content .small-info .about p {
  font-weight: bold;
}
.index.content .small-info .about .about-headers {
  display: table;
  height: 140px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.index.content .small-info .about .about-headers .about-header {
  width: 33.33333333%;
  display: table-cell;
  position: relative;
  z-index: 5;
  height: 100%;
  vertical-align: top;
  background: url('../about_bg.png') 0 29% #452311;
  background-clip: padding-box;
  border-radius: 0;
  opacity: 0.925;
  text-align: center;
  padding: 15px 10px 0;
}
.index.content .small-info .about .about-headers .about-header i.fa {
  margin: 10px 0;
}
.index.content .small-info .about .about-headers .about-header p {
  font-size: 16px;
}
.index.content .small-info .about .about-headers .about-header:hover {
  cursor: pointer;
  opacity: 1;
}
.index.content .small-info .about .about-headers .about-header + .about-header {
  margin-top: 0;
  border-left: 1px solid #6f6951;
}
.index.content .small-info .about .about-headers .about-header:nth-last-child(2) {
  background-position: -100% 29%;
}
.index.content .small-info .about .about-headers .about-header:nth-last-child(2) .panel-collapse {
  left: -100%;
}
.index.content .small-info .about .about-headers .about-header:last-child {
  background-position: 100% 29%;
}
.index.content .small-info .about .about-headers .about-header:last-child .panel-collapse {
  left: -200%;
}
.index.content .small-info .about .about-headers .about-header::after {
  content: '';
}
.index.content .small-info .about .about-headers .about-header.active {
  opacity: 1;
}
.index.content .small-info .about .about-headers .about-header.active::after {
  position: absolute;
  display: block;
  bottom: -5%;
  left: 50%;
  z-index: 5;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #452311;
  box-shadow: inset -1px 1px 0 #6f6951;
}
.index.content .small-info .about .about-sections {
  background-color: #452311;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: 10px;
  z-index: 3;
  border-top: 1px solid #6f6951;
}
.index.content .small-info .about .about-sections .about-desc {
  padding: 15px;
  display: none;
  visibility: hidden;
}
.index.content .small-info .about .about-sections .about-desc.active {
  visibility: visible;
  display: block;
}
.index.content .products {
  width: 50%;
  float: right;
  padding-left: 10px;
}
@media (max-width: 991px) {
  .index.content .products {
    width: 100%;
    padding-left: 0;
  }
}
.index.content .list-group {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.index.content .headlines {
  width: 50%;
  position: relative;
  z-index: 1;
  padding-right: 10px;
}
@media (max-width: 991px) {
  .index.content .headlines {
    width: 100%;
    padding-right: 0;
  }
}
.index.content .carousel-wrapper {
  width: 75%;
  padding-right: 10px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .index.content .carousel-wrapper h4 {
    display: none;
    visibility: hidden;
  }
}
.index.content .carousel-wrapper.vertical {
  width: 25%;
  padding-left: 10px;
  padding-right: 0;
}
.index.content .carousel-wrapper .carousel {
  width: 100%;
}
.index.content .carousel-wrapper .carousel .item {
  width: auto;
}
.index.content .carousel-wrapper .carousel .carousel-control {
  visibility: hidden;
  opacity: 0;
}
.index.content .carousel-wrapper .carousel:hover .carousel-control {
  visibility: visible;
  opacity: .5;
}
.index.content .carousel-wrapper .carousel:hover .carousel-control:hover {
  opacity: 1;
}
.index-products a .grid-group-item-wrapper {
  width: 16.666666%;
}
@media (max-width: 1057px) {
  .index-products a .grid-group-item-wrapper {
    width: 20%;
  }
  .index-products a:last-child .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 897px) {
  .index-products a .grid-group-item-wrapper {
    width: 25%;
  }
  .index-products a:nth-last-child(2) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .index-products a .grid-group-item-wrapper {
    width: 33.333333%;
  }
  .index-products a:nth-last-child(3) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 542px) {
  .index-products a .grid-group-item-wrapper {
    width: 50%;
  }
  .index-products a:nth-last-child(4) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
.main-footer {
  background-color: #291C14;
  color: #E8DDBA;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: .875em;
  line-height: 1.875em;
}
.main-footer .dark-footer {
  background-color: #21150D;
  width: 100%;
  height: 80px;
}
.main-footer .dark-footer ul {
  font-size: .6875em;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 20px 20px 0;
}
.main-footer .dark-footer ul li {
  display: inline-block;
  padding-right: 45px;
}
.main-footer .dark-footer ul li a {
  color: rgba(232, 221, 186, 0.25);
}
.main-footer .sitemaps {
  height: 220px;
}
.main-footer .sitemaps .footer-sitemap {
  width: 25%;
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
  vertical-align: top;
}
.main-footer .sitemaps .footer-sitemap .sitemap-link {
  text-transform: uppercase;
  color: #E8DDBA;
}
.main-footer .sitemaps .footer-sitemap .sitemap-list {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  line-height: 1.95em;
}
.main-footer .sitemaps .footer-sitemap .sitemap-list li > a {
  color: rgba(232, 221, 186, 0.5);
}
@media (max-width: 991px) {
  .main-footer .sitemaps {
    background-color: #291C14;
  }
  .main-footer .sitemaps .footer-sitemap {
    padding-bottom: 30px;
  }
  .main-footer .sitemaps .footer-sitemap .sitemap-list {
    line-height: 2.35em;
  }
}
@media (max-width: 542px) {
  .main-footer .sitemaps {
    height: 500px;
    background-color: #291C14;
  }
  .main-footer .sitemaps .footer-sitemap {
    width: 50%;
    padding-bottom: 30px;
  }
  .main-footer .sitemaps .footer-sitemap .sitemap-list {
    line-height: 2.95em;
  }
}
.main-footer hr {
  margin: 5px 0;
  border-top-color: rgba(232, 221, 186, 0.5);
}
.main-footer .header-wrapper .header-left {
  float: left;
}
.main-footer .header-wrapper .header-left ul {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 20px 20px 0;
}
.main-footer .header-wrapper .header-left ul li {
  display: inline-block;
  padding-right: 45px;
}
.main-footer .header-wrapper .header-left ul li a {
  color: #E8DDBA;
}
.main-footer .header-wrapper .header-right {
  float: right;
  padding: 20px 0;
}
.main-footer .header-wrapper .header-right .dropdown.header-switch {
  display: inline-block;
  margin-left: 25px;
}
.main-footer .header-wrapper .header-right .dropdown.header-switch .dropdown-toggle span:first-child {
  color: rgba(232, 221, 186, 0.5);
}
.main-footer .header-wrapper .header-right .dropdown.header-switch .dropdown-toggle .glyphicon-triangle-top {
  top: 70%;
  right: -2px;
}
.main-footer .header-wrapper .header-right .dropdown.header-switch .dropdown-menu {
  top: 100%;
  min-width: 0;
  left: auto;
  right: -12px;
}
.content-wrapper {
  margin-bottom: 120px;
  position: relative;
  top: 100px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination,
.pager,
.panel {
  border-width: 0 1px 3px 1px;
}
.overflow {
  overflow: hidden;
}
.content.alert {
  top: 30vh;
}
.orders .panel .panel-body {
  padding: 0;
  text-align: left;
}
.orders .panel .panel-body .item.history .price {
  padding-right: 10px;
}
.orders .panel .panel-body .item.total > .pull-right {
  padding-right: 10px;
  font-weight: bold;
}
.orders .panel .panel-heading {
  width: 100%;
  padding: 10px 0;
  border: none;
  box-shadow: 0 2px rgba(69, 35, 17, 0.15);
}
.orders .panel .panel-heading .info-main {
  font-weight: 600;
}
.orders .panel .panel-heading .info-status.success {
  color: #4cae4c;
}
.orders .panel .panel-heading .info-status.waiting {
  color: #e7742c;
}
.panel {
  background-color: #DACDA3;
  color: #452311;
  border-radius: 0;
  border-color: #999273;
  border-width: 0 0 1px 0;
}
.panel .panel-heading {
  color: inherit;
  background-color: #E8DDBA;
  border-color: #999273;
  border-radius: 0;
}
.panel .panel-heading .panel-title > a .fa {
  padding-right: 5px;
  color: #452311;
}
.panel .panel-heading .panel-title > a span {
  padding-left: 5px;
  text-transform: uppercase;
}
.panel .panel-heading .panel-title > a:focus,
.panel .panel-heading .panel-title > a:hover,
.panel .panel-heading .panel-title > a:active {
  color: #452311;
  text-decoration: none;
}
.header {
  text-transform: uppercase;
  font-weight: bold;
}
.order {
  position: relative;
  font-weight: 600;
}
.order .left {
  padding-right: 45px;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
.order .right {
  padding-left: 45px;
  width: 40%;
  display: inline-block;
}
.order .small-info {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 300;
}
.order h4 {
  font-weight: bold;
}
.order .item-list {
  background-color: #E8DDBA;
  color: #452311;
  padding: 0;
}
.order .item-list .item {
  border-color: #999273;
}
.order .item-list .item.discount {
  text-align: right;
  color: rgba(69, 35, 17, 0.8);
  padding-right: 10px;
  border-top: none;
  height: 40px !important;
  line-height: 22px !important;
  text-transform: uppercase;
  font-size: 13px;
}
.order .item-list .item.discount input[type='checkbox'] {
  margin: 0;
  top: 3px;
}
.order .item-list .item .info {
  color: inherit;
}
.order .item-list .item .price {
  color: rgba(69, 35, 17, 0.8);
  font-weight: 500;
}
.order .item-list .item:first-child {
  border-top: none;
}
.order .item-list .total small {
  color: rgba(69, 35, 17, 0.45);
  font-weight: 500;
}
.order .item-list .total .total {
  float: right !important;
  color: #452311;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  padding-right: 10px;
}
.order .empty {
  height: 120px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
}
.order .recommendations {
  margin-top: 45px;
}
@media (max-width: 1057px) {
  .order .recommendations a:last-child .grid-group-item-wrapper,
  .order .recommendations a:nth-last-child(2) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 897px) {
  .order .recommendations a:nth-last-child(3) .grid-group-item-wrapper,
  .order .recommendations a:nth-last-child(4) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .order .recommendations a:nth-last-child(4) .grid-group-item-wrapper {
    display: block;
    visibility: visible;
  }
}
@media (max-width: 542px) {
  .order .recommendations a:nth-last-child(4) .grid-group-item-wrapper {
    display: none;
    visibility: hidden;
  }
}
.payment > .payment-submit.panel {
  background-color: #E8DDBA;
  border: none;
}
.payment > .payment-submit.panel .panel-body {
  border: none !important;
  line-height: 60px;
  height: 60px;
}
.payment > .payment-submit.panel .panel-body .title {
  line-height: 40px;
}
.payment > .payment-submit.panel .panel-body .submit {
  line-height: 60px;
}
.payment > .payment-submit.panel .panel-body .submit .btn {
  line-height: 40px;
  height: 40px;
  padding: 0 30px;
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:focus:after {
  border-color: rgba(69, 35, 17, 0.45);
  border-radius: 10px;
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid rgba(69, 35, 17, 0.45);
  border-radius: 10px;
  transition: 240ms;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  display: table;
  width: 6px;
  height: 10px;
  border: 2px solid #452311;
  border-top-width: 0;
  border-left-width: 0;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after {
  background-color: transparent;
  border-color: transparent;
}
.payment .payment-errors {
  position: relative;
  top: -6px;
  height: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #DF1001;
}
.payment .delivery-save {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}
.payment .delivery-save span {
  color: rgba(69, 35, 17, 0.45);
}
.payment .delivery-save input[type="checkbox"]:checked:after {
  background-color: #DACDA3;
  border-color: #DACDA3;
}
.payment .delivery-save input:checked + span {
  color: #452311;
}
.payment .panel + .panel {
  margin: 0;
  border-bottom: none;
}
.payment .panel .panel-body {
  border-top-color: #999273 !important;
  padding: 10px;
}
.payment .panel .panel-collapse > .panel-body {
  padding-top: 20px;
}
.payment .text-center {
  padding: 0 5px;
}
.payment .input-wrapper {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 15px;
  display: inline-block;
}
.payment .input-wrapper:last-child:not(:first-child) {
  padding-right: 0;
  padding-bottom: 0;
}
.payment .input-wrapper.month,
.payment .input-wrapper.year,
.payment .input-wrapper.state {
  padding-right: 15px;
}
.payment .input-wrapper.month {
  width: 48%;
}
.payment .input-wrapper.year {
  width: 27%;
}
.payment .input-wrapper.cvc,
.payment .input-wrapper.zip {
  width: 20%;
  float: right;
}
.payment .input-wrapper.state {
  width: 75%;
}
.account > .settings .form-group,
.payment .form-group,
.delivery .form-group {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.account > .settings .form-group.state .input-wrapper div,
.payment .form-group.state .input-wrapper div,
.delivery .form-group.state .input-wrapper div {
  padding-right: 0;
}
.account > .settings .form-group.state .input-wrapper div:not(:last-child),
.payment .form-group.state .input-wrapper div:not(:last-child),
.delivery .form-group.state .input-wrapper div:not(:last-child) {
  padding-left: 0;
}
.account > .settings .form-group .form-control,
.payment .form-group .form-control,
.delivery .form-group .form-control {
  height: 34px;
  display: inline-block;
  text-transform: uppercase;
  color: #452311;
  font-size: 16px;
  background-color: #928b6b;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
}
.account > .settings .form-group .form-control:focus,
.payment .form-group .form-control:focus,
.delivery .form-group .form-control:focus {
  outline: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
}
.account > .settings .form-group .form-control.has-error,
.payment .form-group .form-control.has-error,
.delivery .form-group .form-control.has-error {
  background-color: rgba(223, 16, 1, 0.25);
}
.account > .settings .form-group select.form-control,
.payment .form-group select.form-control,
.delivery .form-group select.form-control {
  padding: 5px;
}
.account > .settings .form-group select.form-control:focus,
.payment .form-group select.form-control:focus,
.delivery .form-group select.form-control:focus {
  outline: rgba(69, 35, 17, 0.45) double thin;
}
.form-group input.btn {
  margin-top: 30px;
}
.avatar-holder {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.avatar-holder .avatar-img {
  display: inline;
  margin: 0;
  height: 100%;
  width: auto;
}
.avatar-holder .avatar-img.horizontal {
  margin-left: -25%;
}
.avatar-holder .avatar-img.vertical {
  margin-top: -15%;
  width: 100%;
  height: auto;
}
.user-info {
  margin: 15px 0 20px;
}
.user-info .avatar {
  position: relative;
  margin: 0 auto 20px;
}
.user-info .avatar .avatar-holder {
  height: 100px;
  width: 100px;
  margin: auto;
}
.user-info .avatar .avatar-holder .avatar-img {
  opacity: 0.42;
}
.user-info .avatar .avatar-holder .avatar-img:hover {
  cursor: pointer;
}
.user-info .avatar .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  -webkit-transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(2);
}
.user-info .username {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
.user-info .email {
  color: #6f6951;
  font-size: 0.9em;
  margin: 0;
}
.account .discounts {
  margin: 0 10%;
}
.account .discounts .upper {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.account .discounts .form-group {
  margin-top: 20px;
  width: 75%;
  padding-right: 30px;
  display: inline-block;
}
.account .discounts .form-group.has-error .help-block {
  color: #ac0c01;
}
.account .discounts .btn {
  padding: 6px 8%;
  vertical-align: top;
  margin-top: 20px;
}
.account .discounts.info {
  text-align: center;
}
.account .discounts.info .upper {
  width: 65%;
  margin: 30px auto 0;
  line-height: 35px;
  font-weight: normal;
  font-size: 25px;
}
.account .discounts.info .btn {
  display: block;
  margin: 40px auto 0;
}
.account .orders {
  text-align: center;
  text-transform: uppercase;
}
.account .orders.empty {
  padding: 10% 0;
}
.account .action {
  padding: 0;
  height: 60px;
}
.account .action > .btn {
  line-height: 30px;
  position: relative;
  top: 15px;
  min-width: 100px;
  padding: 0 10px;
  float: right;
}
.account .action .result,
.account .action .error {
  line-height: 60px;
  text-transform: initial;
  font-weight: bold;
  font-size: 12px;
  color: #ac0c01;
}
.account .action .result .fa,
.account .action .error .fa {
  font-size: 14px;
}
.account .action .result .fa.fa-spinner,
.account .action .error .fa.fa-spinner {
  color: #6f6951;
}
.account .action .result .fa.fa-check-circle,
.account .action .error .fa.fa-check-circle {
  color: #3c8b3c;
}
.account .settings {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.account .settings h4 {
  line-height: 40px;
  font-weight: 600;
  margin-top: 40px;
}
.account .settings .form-group {
  display: block;
  height: 61px;
  margin: 0;
  border-top: 1px solid #6f6951;
}
.account .settings .form-group:last-child {
  border-bottom: 1px solid #6f6951;
}
.account .settings .form-group .value {
  line-height: 60px;
  height: 60px;
}
.account .settings .form-group .value .avatar-holder {
  top: 5px;
  line-height: normal;
}
.account .settings .form-group .input-wrapper {
  padding: 13px 15px;
}
.account .settings .form-group .control-label {
  line-height: 60px;
  padding: 0;
  margin: 0;
  color: #6f6951;
  font-weight: 500;
}
.account .settings .form-group .form-control {
  height: 34px;
  display: inline-block;
  text-transform: uppercase;
  color: #452311;
  font-size: 16px;
  background-color: #928b6b;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
}
.account .settings .form-group .form-control:focus {
  outline: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
}
.account .settings .form-group .form-control.has-error {
  background-color: rgba(223, 16, 1, 0.25);
}
.account .settings .form-group select.form-control {
  padding: 5px;
}
.fa-circle {
  transform: scale(0.45, 0.45);
  color: #452311;
}
.breadcrumbs {
  text-transform: uppercase;
  margin: 10px 0;
}
.breadcrumbs .fa-circle {
  transform: scale(0.45, 0.45);
  color: rgba(69, 35, 17, 0.45);
}
.breadcrumbs a {
  color: rgba(69, 35, 17, 0.45);
  padding: 10px;
  font-size: 18px;
}
.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
  text-decoration: none;
  color: rgba(69, 35, 17, 0.45);
  cursor: pointer;
}
.breadcrumbs a.active {
  color: #452311;
}
.breadcrumbs hr {
  border-color: #6f6951;
}
@media (max-width: 767px) {
  .breadcrumbs a {
    padding: 20px;
  }
}
.dropdown-cart {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  min-width: 75px;
}
.dropdown-cart > a[role='button'] {
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  color: #452311;
}
.dropdown-cart > a[role='button']:hover,
.dropdown-cart > a[role='button']:focus {
  background-color: transparent;
}
.dropdown-cart .count {
  padding-left: 5px;
  min-width: 35px;
  text-align: left;
  display: inline-block;
}
.dropdown-cart .fa-shopping-cart {
  width: 15px;
}
.dropdown-cart.disabled a {
  cursor: default !important;
  color: rgba(69, 35, 17, 0.45) !important;
}
.dropdown-cart .dropdown-container {
  position: absolute;
  background-color: #DACDA3;
  color: #452311;
  box-shadow: 0 1px 3px #452311;
  width: 370px;
  right: -5vw;
  top: 98%;
  margin-top: 1px;
  font-size: 13px;
  text-align: left;
  visibility: hidden;
  display: none;
}
.dropdown-cart .dropdown-container.in {
  display: block;
  visibility: visible;
}
.dropdown-cart .dropdown-container div.header {
  height: 60px;
  padding: 10px;
  line-height: 40px;
  font-weight: bold;
}
.dropdown-cart .dropdown-container div.header .price {
  padding-right: 10px;
}
.dropdown-cart .dropdown-container div.header .btn {
  height: 40px;
  padding: 10px;
}
.dropdown-cart.is-contracted .glyphicon {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  opacity: 0;
  visibility: hidden;
}
.dropdown-cart.is-expanded .glyphicon {
  color: #DACDA3;
  top: -27px;
  left: auto;
  z-index: 500;
  transform: scale(1.5, 1.5);
}
div.item:not(.in-carousel) {
  display: block;
  position: relative;
  height: 60px !important;
  overflow: hidden;
  width: 100%;
  line-height: 60px !important;
  border-top: 1px solid #999273;
}
div.item:not(.in-carousel):hover:not(.total):not(.history):not(.discount) {
  background-color: rgba(255, 255, 255, 0.05);
}
div.item:not(.in-carousel):hover:not(.total):not(.history):not(.discount) .info {
  line-height: 20px;
  padding: 10px 0px 10px 10px;
}
div.item:not(.in-carousel):hover:not(.total):not(.history):not(.discount) .info .info-hovered {
  opacity: 1;
  display: block;
}
div.item:not(.in-carousel):hover:not(.total):not(.history):not(.discount) .info .info-hovered a {
  cursor: pointer;
  padding-right: 10px;
  color: rgba(69, 35, 17, 0.45);
  font-weight: 500;
  text-decoration: underline;
  background-color: transparent;
}
div.item:not(.in-carousel):hover:not(.total):not(.history):not(.discount) .image {
  opacity: 1;
}
div.item:not(.in-carousel) .image {
  width: 60px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  float: left !important;
  opacity: 0.95;
}
div.item:not(.in-carousel) .image img {
  border-radius: 0;
}
div.item:not(.in-carousel) .info-wrapper {
  padding-left: 60px;
  height: 60px;
}
div.item:not(.in-carousel) .info-wrapper > * {
  display: inline-block;
}
div.item:not(.in-carousel) .info-wrapper .counter {
  padding-right: 10px;
  width: 20%;
}
div.item:not(.in-carousel) .info-wrapper .counter .fa.fa-times {
  padding-right: 2px;
}
div.item:not(.in-carousel) .info-wrapper .price {
  width: 20%;
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
}
div.item:not(.in-carousel) .info-wrapper .info {
  color: #452311;
  text-transform: none;
  font-weight: 600;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}
div.item:not(.in-carousel) .info-wrapper .info .info-hovered {
  opacity: 0;
  display: none;
}
div.item:not(.in-carousel) .info-wrapper .info.alone {
  width: 80%;
  padding-right: 10px;
}
.navigation .clear {
  margin-left: 10px;
  cursor: pointer;
}
.navigation .clear .glyphicon {
  transform: scale(0.5, 0.5);
}
.navigation .header-switches {
  line-height: 30px;
  margin-bottom: 10px;
}
.navigation .header-switches .left-part,
.navigation .header-switches .right-part {
  display: inline-block;
}
.navigation .header-switches .right-part {
  float: right;
}
.navigation .header-switches .right-part .header-switch {
  display: inline-block;
}
.navigation .header-switches .right-part .header-switch:not(:first-child) {
  padding-left: 10px;
}
.navigation .header-switches .right-part .header-switch .sorting {
  text-transform: uppercase;
}
.navigation .header-switches .right-part .header-switch .sorting .sortType {
  font-weight: bold;
  padding: 0 5px;
}
.navigation .header-switches .right-part .header-switch .dropdown-menu {
  left: 45px;
}
.navigation .header-switches .right-part .header-switch .dropdown-menu.shifted {
  left: 100px;
}
@media (max-width: 767px) {
  .navigation .header-switches .right-part,
  .navigation .header-switches .left-part {
    width: 100%;
  }
  .navigation .header-switches .right-part .clear,
  .navigation .header-switches .left-part .clear {
    float: right;
  }
  .navigation .header-switches .right-part .header-switch:last-child,
  .navigation .header-switches .left-part .header-switch:last-child {
    float: right;
    text-align: right;
  }
}
@media (max-width: 542px) {
  .navigation .header-switches .right-part .header-switch {
    width: 100%;
  }
  .navigation .header-switches .right-part .header-switch:last-child {
    float: none;
    text-align: left;
    padding-left: 0;
  }
}
div.filters {
  border: none;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 30px;
}
div.filters .navbar-nav {
  font-weight: 600;
  width: 77%;
}
div.filters .navbar-nav li.active > a:focus,
div.filters .navbar-nav li.active > a:hover,
div.filters .navbar-nav li.active > a:active {
  background-color: #F0E5C9 !important;
}
div.filters .navbar-nav > li.open > a,
div.filters .navbar-nav > li.open > a:focus,
div.filters .navbar-nav > li.open > a:hover,
div.filters .navbar-nav > li.open > a:active {
  color: #452311;
  background-color: #F0E5C9;
}
div.filters .navbar-nav > li.open > a .glyphicon-triangle-top,
div.filters .navbar-nav > li.open > a:focus .glyphicon-triangle-top,
div.filters .navbar-nav > li.open > a:hover .glyphicon-triangle-top,
div.filters .navbar-nav > li.open > a:active .glyphicon-triangle-top {
  top: 39px;
  right: 12px;
  transform: scale(1.25, 1.25);
}
div.filters .navbar-nav > li.open:last-child .dropdown-menu {
  left: auto;
  right: 0;
}
div.filters .navbar-nav > li.open .dropdown-menu {
  z-index: 90;
}
div.filters .navbar-nav li.filters {
  min-width: calc(14.28571429%);
  border: solid #999273;
  border-width: 0 0 0 1px;
  text-align: left;
}
div.filters .navbar-nav li.filters:last-child:not(.rest):not(.collapsed) {
  border-width: 0 1px 0 1px;
}
div.filters .navbar-nav li.filters.open {
  color: #452311;
}
div.filters .navbar-nav li.filters.open .dropdown-menu > li.filters > a {
  padding-left: 10px;
}
div.filters .navbar-nav li.filters .caret,
div.filters .navbar-nav li.filters .fa-remove {
  float: right;
  position: relative;
}
div.filters .navbar-nav li.filters .caret {
  top: 9px;
}
div.filters .navbar-nav li.filters .fa-remove {
  top: 2px;
  transform: scale(0.8, 0.8);
}
div.filters .collapse-toggle {
  display: none;
}
div.filters .collapse {
  padding: 0;
}
div.filters .search-form {
  padding: 0;
  width: 23%;
  float: left;
}
div.filters .search-form .navbar-form {
  border: none;
}
div.filters .search-form .navbar-form .search-btn {
  background-color: transparent;
  color: #452311;
  height: 34px;
  border: 1px solid;
  box-shadow: none;
  padding-bottom: 2px;
  min-width: 30px;
}
div.filters .search-form .navbar-form .search-btn:hover {
  background-color: transparent;
  color: #452311;
}
div.filters .search-form .navbar-form .search-btn .glyphicon {
  top: 3px;
}
div.filters .search-form .navbar-form .input-group-btn:first-child > .search-btn {
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: default;
}
div.filters .search-form .navbar-form .input-group-btn:last-child > .search-btn {
  border-left: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
div.filters .search-form .navbar-form input::-webkit-input-placeholder {
  color: rgba(69, 35, 17, 0.45) !important;
}
div.filters .search-form .navbar-form input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(69, 35, 17, 0.45) !important;
}
div.filters .search-form .navbar-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(69, 35, 17, 0.45) !important;
}
div.filters .search-form .navbar-form input:-ms-input-placeholder {
  color: rgba(69, 35, 17, 0.45) !important;
}
div.filters .search-form .navbar-form input[type=text] {
  border: 1px solid #452311;
  color: #452311;
  box-shadow: none;
  border-left: transparent;
  border-right: transparent;
  padding-top: 3px;
  padding-left: 5px;
}
@media (min-width: 1200px) {
  div.filters .navbar-nav > li.open:last-child .dropdown-menu {
    right: -1px;
  }
}
@media (max-width: 991px) {
  div.filters .collapse-toggle,
  div.filters .collapse-toggle > li.filters {
    display: inline-block;
  }
  div.filters .collapse:not(.in) {
    display: none !important;
  }
  div.filters ul.navbar-nav {
    width: 110px;
  }
  div.filters .search-form {
    width: 40%;
  }
  div.filters li.filters {
    width: 100%;
  }
  div.filters .collapse.in {
    position: absolute;
    z-index: 2;
    top: 50px;
    background-color: #DACDA3;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  div.filters .collapse.in ul.navbar-nav {
    width: 100%;
  }
  div.filters .collapse.in li.filters {
    display: block;
    width: 100%;
    border-width: 0;
  }
  div.filters .collapse.in li.filters:not(:last-child) {
    border-bottom: 1px solid #999273;
  }
  div.filters .collapse.in .dropdown-menu {
    left: auto !important;
    right: 0;
    top: 100%;
  }
}
@media (max-width: 767px) {
  div.filters .search-form {
    width: 50%;
  }
  div.filters .navbar-form {
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  div.filters .collapse-toggle > li.filters {
    left: -14px;
    height: 50px;
    top: -8px;
  }
  div.filters .collapse-toggle > li.filters a {
    line-height: 30px;
  }
}
@media (max-width: 542px) {
  div.filters .search-form {
    width: 60%;
  }
}
.dropdown .glyphicon-triangle-top {
  opacity: 0;
  display: none;
}
.dropdown.open .glyphicon-triangle-top {
  opacity: 1;
  display: inline-block;
  color: #DACDA3;
  float: right;
  position: absolute;
  top: 21px;
  right: -3px;
}
.dropdown ul.dropdown-menu {
  box-shadow: 0 2px 2px #452311;
  background-color: #DACDA3;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: #452311;
  top: 98%;
  padding: 0;
  z-index: 100;
}
.dropdown ul.dropdown-menu li {
  height: 35px;
  border-width: 0;
}
.dropdown ul.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #999273;
}
.dropdown ul.dropdown-menu li:last-child {
  border: none;
}
.dropdown ul.dropdown-menu li a {
  line-height: 35px;
  color: #452311;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown ul.dropdown-menu li a:focus,
.dropdown ul.dropdown-menu li a:hover,
.dropdown ul.dropdown-menu li a:active {
  color: #452311;
  background-color: #E8DDBA;
}
.modalForm .modal-dialog {
  top: 5%;
  max-width: 400px;
  margin: 10% auto;
}
.modalForm .modal-dialog .modal-content {
  background-color: #E8DDBA;
}
@media (max-width: 1199px) {
  .modalForm .modal-dialog {
    margin: 30px auto;
  }
}
.modalForm .modal-header {
  padding: 5px;
}
.modalForm .modal-body {
  padding: 0 30px 30px;
  text-align: center;
}
.modalForm .modal-body .title {
  text-transform: uppercase;
  color: #452311 !important;
  margin-bottom: 20px;
}
.modalForm .modal-body .fa-spin {
  color: rgba(69, 35, 17, 0.45);
}
.modalForm .modal-body button {
  margin: 25px 0 15px 0;
}
.modalForm .modal-body hr {
  margin: 25px 0;
  border-color: #eee6cd;
}
.modalForm .modal-body small {
  color: rgba(48, 24, 0, 0.75);
  margin-top: 15px;
}
.modalForm .modal-header,
.modalForm h4,
.modalForm .close {
  border-bottom: none;
  color: #5E412F !important;
  text-align: center;
  font-size: 30px;
}
.modalForm .footer {
  margin: 0 0 20px 0;
}
.modalForm .footer .btn.btn-block:first-child:not(:last-child) {
  margin-bottom: 10px;
}
input.btn-default {
  margin-right: 20px;
}
.container-fluid,
.container {
  padding: 0 25px;
}
.btn-default {
  color: #F0E5C9;
  min-width: 70px;
  background-color: #452311;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px #452311;
}
.btn-default:hover,
.btn-default.hovered {
  color: #452311;
  background-color: #F0E5C9;
}
.btn-default:focus,
.btn-default:active {
  color: #452311;
  background-color: #F0E5C9;
  outline: none;
}
.btn-default.active:focus,
.btn-default.active.focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  color: #F0E5C9;
  background-color: #C04800;
  outline: none;
}
.btn-success {
  color: #f5f5f5;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px #419541;
  text-transform: uppercase;
}
.btn-success:focus,
.btn-success:hover,
.btn-success.hovered,
.btn-success:active,
.btn-success:active:focus {
  color: #f5f5f5;
}
.btn-success.active:focus,
.btn-success.active.focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover {
  color: #f5f5f5;
  outline: none;
}
.list-group.grid {
  margin-left: -20px;
}
.list-sm-group-item {
  color: #452311;
  background-color: #E8DDBA;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  padding-right: 0;
  border: none;
  border-top: 1px solid #999273;
  max-height: 70px;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
}
.list-sm-group-item:first-child {
  border: none;
}
.list-sm-group-item:first-child,
.list-sm-group-item:last-child {
  border-radius: 0;
}
.list-sm-group-item > div {
  display: inline-block;
}
.list-sm-group-item .img-holder {
  width: 70px;
  padding-right: 0px;
  vertical-align: top;
}
.list-sm-group-item .img-holder img {
  border-radius: 0;
}
.list-sm-group-item .info-holder {
  width: calc(100% - 70px);
}
.list-sm-group-item .info-holder > div {
  display: inherit;
}
.list-sm-group-item .info-holder .title {
  padding: 0 15px;
  line-height: 70px;
  word-wrap: normal;
  margin: 0;
  font-size: 15px;
}
.list-sm-group-item .info-holder .bottom-product-info {
  width: 20%;
  padding: 10px 5px;
  vertical-align: top;
  text-align: right;
}
.list-sm-group-item .info-holder .bottom-product-info .availability {
  color: #4cae4c;
  padding-top: 6px;
  padding-right: 6px;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}
.list-sm-group-item .info-holder .bottom-product-info .availability.has-error {
  color: #DF1001;
}
@media only screen and (max-width: 420px) {
  .list-sm-group-item {
    max-height: none;
  }
  .list-sm-group-item .img-holder {
    width: 100%;
  }
  .list-sm-group-item .info-holder {
    display: block;
    width: 100%;
  }
  .list-sm-group-item .info-holder .bottom-product-info {
    width: 100%;
    float: none;
  }
  .list-sm-group-item .info-holder .bottom-product-info .availability {
    float: left;
  }
  .list-sm-group-item .info-holder .bottom-product-info .price {
    display: inline-block;
    float: right;
  }
}
@media only screen and (min-width: 421px) and (max-width: 542px) {
  .list-sm-group-item .info-holder .text {
    width: 74%;
  }
  .list-sm-group-item .info-holder .bottom-product-info {
    width: 25%;
  }
}
@media only screen and (min-width: 542px) and (max-width: 767px) {
  .list-sm-group-item .info-holder .text {
    width: 75%;
  }
  .list-sm-group-item .info-holder .bottom-product-info {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list-sm-group-item .info-holder .text {
    width: 85%;
  }
  .list-sm-group-item .info-holder .bottom-product-info {
    width: 15%;
  }
}
@media only screen and (min-width: 992px) {
  .list-sm-group-item {
    max-height: 70px;
  }
  .list-sm-group-item .img-holder {
    width: 70px;
  }
  .list-sm-group-item .info-holder {
    width: calc(100% - 70px);
  }
  .list-sm-group-item .info-holder .text {
    width: 80%;
  }
  .list-sm-group-item .info-holder .bottom-product-info {
    width: 20%;
  }
}
.news-group-item {
  color: #452311;
  background-color: #E8DDBA;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  padding-right: 0;
  border: none;
  border-top: 1px solid #999273;
  max-height: 140px;
  /* Medium Devices, Desktops */
}
.news-group-item:first-child {
  border: none;
}
.news-group-item:first-child,
.news-group-item:last-child {
  border-radius: 0;
}
.news-group-item > div {
  display: inline-block;
}
.news-group-item .img-holder {
  width: 280px;
  height: 140px;
  padding-right: 0;
  vertical-align: top;
}
.news-group-item .img-holder img {
  border-radius: 0;
}
.news-group-item .info-holder {
  width: calc(100% - 280px);
}
.news-group-item .info-holder > div {
  display: inherit;
}
.news-group-item .info-holder .text {
  padding: 10px 15px;
}
.news-group-item .info-holder .text .title {
  word-wrap: normal;
  margin: 0;
  font-size: 15px;
}
.news-group-item .info-holder .text small {
  color: rgba(69, 35, 17, 0.8);
}
@media only screen and (max-width: 420px) {
  .news-group-item {
    max-height: none;
  }
}
.list-group-item {
  color: #452311;
  background-color: #E8DDBA;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px #452311;
  padding-right: 0;
  border: none;
  border-top: 1px solid #999273;
  margin-bottom: 3px;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
}
.list-group-item:first-child {
  border: none;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.list-group-item > div {
  display: inline-block;
}
.list-group-item .img-holder {
  width: 14%;
  padding-right: 10px;
  vertical-align: top;
}
.list-group-item .info-holder {
  width: 86%;
}
.list-group-item .info-holder > div {
  display: inherit;
}
.list-group-item .info-holder .title {
  width: 100%;
}
.list-group-item .info-holder .text {
  width: 80%;
}
.list-group-item .info-holder .text p {
  font-size: 16px;
}
.list-group-item .info-holder .bottom-product-info {
  width: 10%;
  padding: 10px;
  vertical-align: top;
  float: right;
  text-align: center;
}
.list-group-item .info-holder .bottom-product-info .availability {
  color: #4cae4c;
  padding-top: 6px;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}
.list-group-item .info-holder .bottom-product-info .availability.has-error {
  color: #DF1001;
}
.list-group-item .info-holder .bottom-product-info .stars {
  transform: scale(0.9, 0.9);
  min-width: 70px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 420px) {
  .list-group-item .img-holder {
    display: block;
    width: 100%;
  }
  .list-group-item .info-holder {
    display: block;
    width: 100%;
  }
  .list-group-item .info-holder .bottom-product-info {
    width: 100%;
    float: none;
  }
  .list-group-item .info-holder .bottom-product-info .availability {
    float: left;
  }
  .list-group-item .info-holder .bottom-product-info .price {
    display: inline-block;
    float: right;
  }
}
@media only screen and (min-width: 421px) and (max-width: 542px) {
  .list-group-item .img-holder {
    width: 25%;
  }
  .list-group-item .info-holder {
    width: 74%;
  }
  .list-group-item .info-holder .text {
    width: 74%;
  }
  .list-group-item .info-holder .bottom-product-info {
    width: 25%;
    padding: 0;
  }
}
@media only screen and (min-width: 542px) and (max-width: 767px) {
  .list-group-item .img-holder {
    width: 20%;
  }
  .list-group-item .info-holder {
    width: 80%;
  }
  .list-group-item .info-holder .text {
    width: 75%;
  }
  .list-group-item .info-holder .bottom-product-info {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .list-group-item .info-holder .text {
    width: 85%;
  }
  .list-group-item .info-holder .bottom-product-info {
    width: 15%;
  }
}
@media only screen and (min-width: 992px) {
  .list-group-item .info-holder .text {
    width: 90%;
  }
  .list-group-item .info-holder .bottom-product-info {
    width: 10%;
  }
}
.grid-group-item-wrapper {
  padding-left: 20px;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 20em) {
  .grid-group-item-wrapper {
    width: 50%;
  }
}
@media (min-width: 39.375em) {
  .grid-group-item-wrapper {
    width: 33.333333%;
  }
}
@media (min-width: 53.75em) {
  .grid-group-item-wrapper {
    width: 25%;
  }
}
@media (min-width: 67.1875em) {
  .grid-group-item-wrapper {
    width: 20%;
  }
}
.grid-group-item-wrapper .grid-group-item {
  color: #452311;
  background-color: #E8DDBA;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px #452311;
  border: none;
  padding: 0 10px;
  margin-bottom: 30px;
}
.grid-group-item-wrapper .grid-group-item .img-holder {
  width: 100%;
  padding-top: 10px;
}
.grid-group-item-wrapper .grid-group-item .text {
  padding-top: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.grid-group-item-wrapper .grid-group-item .text h4 {
  min-height: 36px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.2;
  float: left;
  width: 100%;
}
.grid-group-item-wrapper .grid-group-item .bottom-product-info {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
.grid-group-item-wrapper .grid-group-item .bottom-product-info .availability {
  color: #4cae4c;
  padding-top: 6px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 32px;
}
.grid-group-item-wrapper .grid-group-item .bottom-product-info .availability.has-error {
  color: #DF1001;
}
.grid-group-item-wrapper .grid-group-item .bottom-product-info .price {
  float: right;
  padding-bottom: 10px;
  display: inline-block;
}
.ruler {
  font-size: 15px;
  visibility: hidden;
  white-space: nowrap;
}
.img-thumbnail {
  background-color: #999273;
  border: none;
}
.img-responsive {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px #452311;
}
.text-muted {
  color: #E8DDBA;
}
input::-webkit-input-placeholder {
  color: rgba(69, 35, 17, 0.45) !important;
  font-weight: 500;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(69, 35, 17, 0.45) !important;
  font-weight: 500;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(69, 35, 17, 0.45) !important;
  font-weight: 500;
}
input:-ms-input-placeholder {
  color: rgba(69, 35, 17, 0.45) !important;
  font-weight: 500;
}
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control {
  padding: 0 7px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 -1px 0 #eee6cd;
  font-size: 16px;
  color: #452311;
}
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus {
  box-shadow: inset 0 -2px 0 #C04800;
}
input.form-control[disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=number][disabled],
[type=text].form-control[disabled],
[type=password].form-control[disabled],
[type=email].form-control[disabled] {
  box-shadow: none;
  border-color: #dfd7ca;
  border-bottom: 1px dotted #ddd;
}
.navbar {
  border-radius: 0;
  background-color: #E8DDBA;
  border-color: transparent;
  border-bottom: none;
  box-shadow: 0 1px 3px #452311;
}
.navbar .container {
  height: 50px;
}
.navbar .navbar-head {
  margin-left: 0;
}
.navbar .navbar-head i.fa-cog {
  color: #452311;
  transform: scale(1.25, 1.25);
  padding: 15px 20px;
}
.navbar .navbar-head i.fa.fa-cog,
.navbar .navbar-head .block-center,
.navbar .navbar-head .dropdown-cart {
  display: none;
}
.navbar .navbar-head a {
  color: #452311;
  text-decoration: none;
}
.navbar .navbar-nav > li.open > a,
.navbar .navbar-nav > li.open > a:focus,
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:active {
  color: #452311;
  background-color: #E8DDBA;
}
.navbar .navbar-nav li {
  border: solid #999273;
  border-width: 0 0 0 1px;
}
.navbar .navbar-nav li:last-child {
  border-width: 0 1px;
}
.navbar .navbar-nav li > a {
  color: #452311;
}
.navbar .navbar-nav .active > a {
  color: #452311;
  background-color: #F0E5C9;
}
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav .active a:focus,
.navbar .navbar-nav li a:focus {
  color: #452311;
}
.navbar .navbar-nav .active a:hover:not(.extras):not(.checkout),
.navbar .navbar-nav li a:hover:not(.extras):not(.checkout),
.navbar .navbar-nav .active a:focus:not(.extras):not(.checkout),
.navbar .navbar-nav li a:focus:not(.extras):not(.checkout) {
  background-color: #F0E5C9;
}
.navbar .navbars {
  width: 100%;
}
.navbar .navbars .navbar-left .navbar-brand {
  width: 140px;
  margin-left: 0;
  margin-right: 15px;
}
.navbar .navbars .navbar-right {
  margin-right: 0;
}
.navbar .navbars.is-anonymous li.nav-link:not(.nav-buttons) {
  width: 19%;
}
.navbar .navbars.is-anonymous.wide li.nav-link:not(.nav-buttons) {
  width: 18%;
}
.navbar .navbars .navbar-nav {
  display: inline-block;
  float: none;
  width: calc(100% - 230px);
}
.navbar .navbars .navbar-nav > li.open > a,
.navbar .navbars .navbar-nav > li.open > a:focus,
.navbar .navbars .navbar-nav > li.open > a:hover,
.navbar .navbars .navbar-nav > li.open > a:active {
  color: #452311;
  background-color: #E8DDBA;
}
.navbar .navbars .navbar-nav li.nav-link {
  width: 20%;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.navbar .navbars .navbar-nav li.nav-link .dropdown-menu {
  width: 100%;
  min-width: 0;
  top: auto;
}
.navbar .navbars .navbar-nav li.nav-link.nav-buttons {
  width: 24%;
  line-height: 50px;
  text-align: center;
}
.navbar .navbars .navbar-nav li.nav-link.nav-buttons .navbar-btn {
  margin: 0;
}
.navbar .navbars .navbar-nav li.nav-link.nav-buttons .navbar-btn a.btn-default {
  line-height: 30px;
  min-width: 0;
  padding: 0 17px;
  border-width: 1px;
}
.navbar .navbars .navbar-nav li.nav-link.nav-buttons .navbar-btn a.btn-default:first-child {
  margin-right: 15px;
}
.navbar .navbars .navbar-nav li.nav-link.nav-buttons.wide {
  width: 28%;
}
@media (max-width: 1160px) and (min-width: 1061px) {
  .navbar .navbars.is-anonymous .navbar-nav li.nav-link:not(.nav-buttons) {
    width: 18.5%;
  }
  .navbar .navbars.is-anonymous.wide li.nav-link:not(.nav-buttons) {
    width: 17%;
  }
  .navbar .navbars .navbar-nav li.nav-link.nav-buttons {
    width: 26%;
  }
  .navbar .navbars .navbar-nav li.nav-link.nav-buttons.wide {
    width: 30%;
  }
}
@media (max-width: 1060px) and (min-width: 951px) {
  .navbar .navbars.is-anonymous .navbar-nav li.nav-link:not(.nav-buttons) {
    width: 18%;
  }
  .navbar .navbars .navbar-nav li.nav-link.nav-buttons {
    width: 28%;
  }
  .navbar .navbars .navbar-nav li.dropdown-cart {
    min-width: 65px;
  }
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-brand {
  color: #F0E5C9;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  min-width: 140px;
}
.navbar .navbar-brand img.navbar-brand {
  margin: 0;
}
.navbar .navbar-brand a {
  padding: 0;
}
.navbar .navbar-brand a:hover,
.navbar .navbar-brand a:focus {
  background-color: transparent;
}
.paging {
  padding: 20px 0;
  text-align: center;
  color: #452311;
}
.paging i {
  padding: 0 5px;
}
.paging span {
  cursor: pointer;
}
.paging span.disabled {
  color: #756f55;
  cursor: not-allowed;
}
.paging div {
  display: inline-block;
  min-width: 12px;
}
.paging input {
  text-align: center;
  border: none;
  border-radius: 3px;
  background: transparent;
  box-shadow: none;
}
.paging input:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.3);
}
.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input.form-control[readonly],
.has-warning input[type=text][readonly],
.has-warning [type=text].form-control[readonly],
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  border-bottom: none;
  box-shadow: inset 0 -2px 0 #e7742c;
}
.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input.form-control[readonly],
.has-error input[type=text][readonly],
.has-error [type=text].form-control[readonly],
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  border-bottom: none;
  background-color: rgba(223, 16, 1, 0.25);
}
.has-error .help-block {
  color: #DF1001;
}
.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input.form-control[readonly],
.has-success input[type=text][readonly],
.has-success [type=text].form-control[readonly],
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  border-bottom: none;
  box-shadow: inset 0 -2px 0 #4cae4c;
}
a {
  color: #4cae4c;
}
a:hover,
a:focus {
  color: #317031;
}
@media (max-width: 1299px) {
  .dropdown-cart.is-expanded .dropdown-container {
    right: -4vw;
  }
}
@media (max-width: 1249px) {
  .dropdown-cart.is-expanded .dropdown-container {
    right: -2vw;
  }
}
@media (max-width: 1199px) {
  .order .left {
    padding-right: 20px;
  }
  .order .right {
    padding-left: 20px;
  }
  .order .panel-body > .submit > .btn {
    padding: 0 10px !important;
  }
  .navbar .navbars {
    padding: 0;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .dropdown-cart.is-expanded .dropdown-container {
    right: -1vw;
  }
  .dropdown ul.dropdown-menu li > a {
    padding-left: 12px;
  }
}
@media (max-width: 991px) {
  .order .left {
    padding-right: 5px;
    width: 58%;
  }
  .order .right {
    padding-left: 5px;
    width: 42%;
  }
  .order .input-wrapper.month {
    width: 50%;
  }
  .order .input-wrapper.year {
    width: 30%;
  }
  .order .input-wrapper.state {
    width: 80%;
  }
  .account .settings h4 {
    text-align: center;
  }
  .content-wrapper {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  body {
    overflow-x: hidden;
  }
  .navbar-expanded.content-wrapper {
    left: 245px;
  }
  .widget-expanded.content-wrapper {
    left: -245px;
  }
  .content {
    top: 65px;
  }
  .navbar.navbar-default:not(.filters) {
    min-height: 44px !important;
    height: 44px !important;
    box-shadow: none;
  }
  .navbar.navbar-default:not(.filters) > .container {
    padding: 0;
    min-height: 44px !important;
    height: 44px !important;
  }
  .navbar.navbar-default:not(.filters) > .container .navbar-brand {
    margin-left: 0;
    text-align: center;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-left,
  .navbar.navbar-default:not(.filters) .navbars .navbar-right {
    display: none;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed {
    width: 245px;
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    background-color: #DACDA3;
    padding-top: 44px;
    height: 100vh;
    z-index: -1;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link {
    display: block;
    width: 100%;
    border-width: 0 0 1px 0;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown > a,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open > a,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown > a:focus,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open > a:focus,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown > a:hover,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open > a:hover,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown > a:active,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open > a:active {
    color: #452311;
    background-color: #E8DDBA;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown .dropdown-menu,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open .dropdown-menu {
    display: block;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown .dropdown-menu li,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open .dropdown-menu li {
    height: 50px;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown .dropdown-menu li:first-child,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open .dropdown-menu li:first-child {
    border-top: 1px solid #999273;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown .dropdown-menu li:last-child,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open .dropdown-menu li:last-child {
    border-width: 0;
    border-bottom: 1px solid #999273;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown .dropdown-menu li > a,
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed li.nav-link.dropdown.open .dropdown-menu li > a {
    font-weight: bold;
    line-height: 50px;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed.is-contracted {
    left: -250px;
  }
  .navbar.navbar-default:not(.filters) .navbars .navbar-nav.collapsed.is-expanded {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    left: 0;
  }
  .navbar.navbar-default:not(.filters) .navbar-head {
    text-align: center;
    min-height: 44px !important;
    height: 44px !important;
    background-color: #E8DDBA;
    box-shadow: 0 1px 3px #452311;
  }
  .navbar.navbar-default:not(.filters) .navbar-head img {
    height: 44px;
    width: auto;
  }
  .navbar.navbar-default:not(.filters) .navbar-head i.fa.fa-cog,
  .navbar.navbar-default:not(.filters) .navbar-head .block-center,
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart {
    display: inline-block;
    height: 40px;
  }
  .navbar.navbar-default:not(.filters) .navbar-head i.fa.fa-cog {
    float: left;
    cursor: pointer;
    padding: 0;
    line-height: 44px;
    margin-left: 10px;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart {
    float: right;
    min-width: 60px;
    margin-right: 5px;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart > a[role='button'] > div {
    text-align: right;
    line-height: 44px;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container {
    display: block;
    visibility: visible;
    right: -250px;
    width: 245px;
    height: 100vh;
    z-index: -1;
    -webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container .info-wrapper {
    padding-left: 0;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container .header {
    height: auto;
    text-align: center;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container .header .checkout {
    width: 100%;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container .header .fa-circle {
    transform: scale(0.45, 0.45);
    color: #452311;
  }
  .navbar.navbar-default:not(.filters) .navbar-head .dropdown-cart .dropdown-container.in {
    right: 0;
  }
}
@media (max-width: 675px) {
  .account .settings .form-group:not(.username) {
    height: 110px;
  }
  .account .settings .form-group .control-label {
    width: 30%;
  }
  .account .settings .form-group .value,
  .account .settings .form-group .input-wrapper {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .account .settings .form-group .value .avatar-holder,
  .account .settings .form-group .input-wrapper .avatar-holder {
    margin-left: calc(50% - 25px);
  }
  .account .settings .form-group .action {
    width: 100%;
    height: 30px;
  }
  .account .settings .form-group .action .btn {
    width: 70%;
    top: 0;
  }
}
@media (max-width: 881px) {
  .order .input-wrapper.month {
    width: 100%;
    padding-right: 0;
  }
  .order .input-wrapper.year,
  .order .input-wrapper.state {
    width: 65%;
    padding-right: 15px;
  }
  .order .input-wrapper.cvc,
  .order .input-wrapper.zip {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .order .left,
  .order .right {
    display: block;
    width: 100%;
    padding: 0;
  }
  .order .left:first-child,
  .order .right:first-child {
    margin-bottom: 30px;
  }
}
