{% extends 'admin/master.html' %}

{% block access_control %}
    {% if current_user.is_authenticated %}
        <div class="navbar-text btn-group pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i>
                {% if current_user.first_name -%}
                    {{ current_user.first_name }}
                {% else -%}
                    {{ current_user.email }}
                {%- endif %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_style.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}
    <div id="mount-point"></div>

    <script src="{{ url_for('static', filename='src/admin.min.js') }}"></script>
{#    <script src="{{ asset_url_for('src/admin.js') }}"></script>#}
{% endblock %}