{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <script src="{{ url_for('static', filename='bower_components/react/react-with-addons.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
{% endblock %}

{% block title %}BeerCraft{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock %}


{% block content %}{% endblock %}