<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {#  Div for React rendering  #}

    <div id='mount-point'></div>

    {# Scripts #}
    <script>
        var messages = '{{ get_flashed_messages(category_filter=["ui"])[0] }}';
        messages = messages.replace(/&#39;/g, '\'');

        var isAuthenticated = '{{ current_user.is_authenticated }}' == 'True';

        if (isAuthenticated)
            var userId = '{{ current_user.id }}'
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9ezQx3eKBZIeFwqkb-215JPJHrbGO3pw&libraries=places"
            async defer></script>

    <script src="{{ url_for('static', filename='src/main.min.js') }}"></script>
{#    <script src="{{ asset_url_for('src/main.js') }}"></script>#}
{% endblock %}
